## Libraries

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import select
from sqlalchemy import text
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
sys.path.append('..')
from scripts.function import *

## Silver Schema

### Credenciales

In [2]:
credenciales_felipe = "mysql+pymysql://root:Enero182005%@127.0.0.1:3306/bronze"
engine_felipe = create_engine(credenciales_felipe, echo=True)
print("hola")

In [2]:
try:
    engine_pablo = create_engine("mysql+pymysql://root:juanMySQL0513.@localhost/bronze")
    print("Database connection successful!")
except Exception as e:
    print(f"Database connection failed: {str(e)}")
    raise

Database connection successful!

### EDA tablas `application_{train|test}`

In [4]:
df= pd.read_sql("select * from application_train", engine)

NameError: name 'engine' is not defined

#### Descripción de las tablas

Las `tabla application_{train|test}`.csv contienen información detallada sobre las solicitudes de crédito de los clientes en el marco del problema de riesgo crediticio de Home Credit. Cada fila representa una solicitud de préstamo hecha por un cliente, e incluye una variedad de variables que permiten caracterizar tanto su situación personal como financiera, con el objetivo de evaluar la probabilidad de incumplimiento en el pago del crédito.

Las variables de esta tabla abarcan múltiples aspectos del cliente. Entre ellas se encuentran datos demográficos como la edad, el género, el estado civil, el número de hijos y el nivel educativo. También incluye información relacionada con el empleo y los ingresos del cliente, como el tipo de ocupación, el ingreso total declarado y la antigüedad laboral. En cuanto al préstamo solicitado, se incluyen detalles como el tipo de contrato, el monto del crédito, el valor del bien a financiar y el monto de la anualidad que debe pagar el cliente.

Además, la tabla registra condiciones de vivienda (como si el cliente posee casa o automóvil, el tipo de vivienda, y características físicas del inmueble), información sobre medios de contacto y localización geográfica, y puntuaciones externas proporcionadas por fuentes anónimas que estiman el nivel de riesgo crediticio del cliente. También se incluyen indicadores binarios que señalan incongruencias entre el lugar de residencia y el lugar de trabajo, o si el cliente cambió recientemente su documento de identidad.

En el caso de `application_train.csv`, se añade una columna adicional llamada `TARGET`, que indica si el cliente presentó problemas para pagar el préstamo (valor 1) o no (valor 0).

In [ ]:
df.info(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               int64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      int64
 92   DEF_30_CNT_SOCIAL_CIRCLE      int64
 93   OBS_60_CNT_SOCIAL_CIRCLE      int64
 94   DEF_60_CNT_SOCIAL_CIRCLE      int64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    int64
 117  AMT_REQ_CREDIT_BUREAU_DAY     int64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    int64
 119  AMT_REQ_CREDIT_BUREAU_MON     int64
 120  AMT_REQ_CREDIT_BUREAU_QRT     int64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    object
dtypes: float64(54), int64(51), object(17)
memory usage: 45.4+ MB

#### Descripcion de las columnas

Dado que la tabla `application_{train|test}.csv` contiene una gran cantidad de variables, muchas de las cuales resultan redundantes o poco relevantes para el análisis del riesgo crediticio —ya sea porque aportan información que se encuentra explícita en otras columnas o porque presentan una baja utilidad predictiva— se ha decidido omitir la descripción detallada de estas en este documento. Esta decisión responde a una futura depuración del conjunto de datos, en la que estas variables serán eliminadas para simplificar el análisis y optimizar el rendimiento de los modelos.

Sin embargo, si en algún momento un analista o investigador desea profundizar en el estudio de estas variables excluidas, puede consultar la descripción completa en el archivo `HomeCredit_columns_description.csv`, el cual contiene una explicación detallada de todas las columnas disponibles en el conjunto de datos original.

#### Columnas más relevantes

##### Puntajes de riesgo externo

`EXT_SOURCE_1`, `EXT_SOURCE_2`, `EXT_SOURCE_3`  
Tres variables anónimas que representan puntuaciones de riesgo provenientes de fuentes externas. Han demostrado tener una alta correlación con la variable objetivo (`TARGET`) y suelen ser las más importantes en los modelos predictivos.

---

##### Ingresos y condiciones del préstamo

- `AMT_INCOME_TOTAL`: Ingreso anual total del cliente.  
- `AMT_CREDIT`: Monto total del crédito solicitado.  
- `AMT_ANNUITY`: Cuota anual del préstamo, útil para calcular ratios como ingresos/cuotas.  
- `AMT_GOODS_PRICE`: Valor del bien o servicio a financiar.

Estas columnas permiten estimar ratios financieros como:

- `AMT_ANNUITY / AMT_INCOME_TOTAL` → carga financiera del cliente.  
- `AMT_CREDIT / AMT_INCOME_TOTAL` → riesgo de endeudamiento.

---

##### Edad y experiencia laboral

- `DAYS_BIRTH`: Edad del cliente (en días negativos).  
- `DAYS_EMPLOYED`: Tiempo trabajando (en días negativos, aunque contiene valores atípicos para desempleados).  
- `DAYS_REGISTRATION`: Antigüedad del registro de residencia.  
- `DAYS_ID_PUBLISH`: Antigüedad del documento de identidad.

La edad y la estabilidad laboral son factores clásicos de evaluación crediticia.

---

##### Situación de vivienda

- `NAME_HOUSING_TYPE`: Tipo de vivienda (propia, rentada, municipal, etc.).  
- `FLAG_OWN_REALTY`: Indica si el cliente posee una propiedad inmobiliaria.  
- `REGION_POPULATION_RELATIVE`: Nivel de urbanización de la región de residencia (zonas más pobladas pueden tener mayor exposición a crédito informal).

---

##### Condición familiar

- `CNT_FAM_MEMBERS`: Número de miembros en la familia, lo cual puede indicar carga económica.  
- `CNT_CHILDREN`: Número de hijos, influye en los gastos del hogar.  
- `NAME_FAMILY_STATUS`: Estado civil (soltero, casado, divorciado, etc.).

---

##### Tipo de empleo

- `NAME_INCOME_TYPE`: Categoría de ingreso del cliente (empleado, pensionado, estudiante, etc.).  
- `OCCUPATION_TYPE`: Profesión específica del cliente.  
- `ORGANIZATION_TYPE`: Tipo de empleador (empresa privada, entidad gubernamental, etc.).

In [ ]:
columnas_relevantes = [
    # Puntajes de riesgo externo
    'EXT_SOURCE_1',
    'EXT_SOURCE_2',
    'EXT_SOURCE_3',

    # Ingresos y condiciones del préstamo
    'AMT_INCOME_TOTAL',
    'AMT_CREDIT',
    'AMT_ANNUITY',
    'AMT_GOODS_PRICE',

    # Edad y experiencia laboral
    'DAYS_BIRTH',
    'DAYS_EMPLOYED',
    'DAYS_REGISTRATION',
    'DAYS_ID_PUBLISH',

    # Situación de vivienda
    'NAME_HOUSING_TYPE',
    'FLAG_OWN_REALTY',
    'REGION_POPULATION_RELATIVE',

    # Condición familiar
    'CNT_FAM_MEMBERS',
    'CNT_CHILDREN',
    'NAME_FAMILY_STATUS',

    # Tipo de empleo
    'NAME_INCOME_TYPE',
    'OCCUPATION_TYPE',
    'ORGANIZATION_TYPE'
]

In [ ]:
df=df[columnas_relevantes]

In [ ]:
df

,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,NAME_HOUSING_TYPE,FLAG_OWN_REALTY,REGION_POPULATION_RELATIVE,CNT_FAM_MEMBERS,CNT_CHILDREN,NAME_FAMILY_STATUS,NAME_INCOME_TYPE,OCCUPATION_TYPE,ORGANIZATION_TYPE
0,0.083037,0.262949,0.139376,202500.0,406597.5,24700.5,351000.0,-9461,-637,-3648.0,-2120,House / apartment,Y,0.018801,1,0,Single / not married,Working,Laborers,Business Entity Type 3
1,0.311267,0.622246,0.000000,270000.0,1293502.5,35698.5,1129500.0,-16765,-1188,-1186.0,-291,House / apartment,N,0.003541,2,0,Married,State servant,Core staff,School
2,0.000000,0.555912,0.729567,67500.0,135000.0,6750.0,135000.0,-19046,-225,-4260.0,-2531,House / apartment,Y,0.010032,1,0,Single / not married,Working,Laborers,Government
3,0.000000,0.650442,0.000000,135000.0,312682.5,29686.5,297000.0,-19005,-3039,-9833.0,-2437,House / apartment,Y,0.008019,2,0,Civil marriage,Working,Laborers,Business Entity Type 3
4,0.000000,0.322738,0.000000,121500.0,513000.0,21865.5,513000.0,-19932,-3038,-4311.0,-3458,House / apartment,Y,0.028663,1,0,Single / not married,Working,Core staff,Religion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0.145570,0.681632,0.000000,157500.0,254700.0,27558.0,225000.0,-9327,-236,-8456.0,-1982,With parents,N,0.032561,1,0,Separated,Working,Sales staff,Services
307507,0.000000,0.115992,0.000000,72000.0,269550.0,12001.5,225000.0,-20775,365243,-4388.0,-4090,House / apartment,Y,0.025164,1,0,Widow,Pensioner,,XNA
307508,0.744026,0.535722,0.218859,153000.0,677664.0,29979.0,585000.0,-14966,-7921,-6737.0,-5150,House / apartment,Y,0.005002,1,0,Separated,Working,Managers,School
307509,0.000000,0.514163,0.661024,171000.0,370107.0,20205.0,319500.0,-11961,-4786,-2562.0,-931,House / apartment,Y,0.005313,2,0,Married,Commercial associate,Laborers,Business Entity Type 1
307510,0.734460,0.708569,0.113922,157500.0,675000.0,49117.5,675000.0,-16856,-1262,-5128.0,-410,House / apartment,N,0.046220,2,0,Married,Commercial associate,Laborers,Business Entity Type 3

### EDA tablas `credit_card_balance` y `installments_payments`

In [3]:
df_credit_data = pd.read_sql("select * from credit_card_balance", engine_pablo)
df_installments = pd.read_sql("select * from installments_payments", engine_pablo)

#### Descripción de las tablas

`installments_payments`

Esta tabla contiene información detallada sobre los pagos realizados por los clientes en relación con las cuotas de créditos anteriores. Cada fila representa una cuota específica, incluyendo tanto la fecha programada como la fecha real del pago, así como los montos relacionados. Los datos permiten analizar el comportamiento de pago de los clientes, identificar atrasos, pagos incompletos o adelantados, y evaluar su responsabilidad financiera en créditos pasados.

`credit_card_balance`

Esta tabla representa el historial mensual del comportamiento de los clientes con sus tarjetas de crédito. Incluye información como el saldo de la tarjeta, el límite de crédito, los montos retirados, los pagos realizados y el estado del contrato mes a mes. Es útil para analizar patrones de gasto, nivel de endeudamiento, frecuencia de uso del crédito, cumplimiento de pagos y posibles señales de riesgo financiero.

#### Analisis y limpieza credit_card_balance

In [4]:
df_credit_data.dtypes

SK_ID_PREV                      int64
SK_ID_CURR                      int64
MONTHS_BALANCE                  int64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL         int64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT            int64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS           object
SK_DPD                          int64
SK_DPD_DEF                      int64
dtype: object

- `SK_ID_PREV`: ID de crédito (anterior), sirve como clave para unir datos anteriores de la misma solicitud.

- `SK_ID_CURR`: ID del cliente que permite unir los datos con el cliente principal en application.csv.

- `MONTHS_BALANCE`: Mes relativo del saldo del crédito con respecto a la fecha de aplicación (0 es el mes más reciente).

- `AMT_BALANCE`: Monto del saldo restante en la tarjeta de crédito.

- `AMT_CREDIT_LIMIT_ACTUAL`: Límite de crédito actual de la tarjeta.

- `AMT_DRAWINGS_ATM_CURRENT`: Monto total retirado en cajeros automáticos ese mes.

- `AMT_DRAWINGS_CURRENT`: Monto total retirado en el mes (incluye cajero, POS, otros).

- `AMT_DRAWINGS_OTHER_CURRENT`: Monto retirado por otros medios que no sean cajero o POS
.
- `AMT_DRAWINGS_POS_CURRENT`: Monto retirado en puntos de venta (POS).

- `AMT_INST_MIN_REGULARITY`: Pago mínimo mensual requerido.

- `AMT_PAYMENT_CURRENT`: Monto pagado en el mes.

- `AMT_PAYMENT_TOTAL_CURRENT`: Total de pagos en el mes (puede incluir pagos atrasados).

- `AMT_RECEIVABLE_PRINCIPAL`: Monto del principal que aún debe pagarse.

- `AMT_RECIVABLE`: Monto total que el cliente debe (principal + intereses).

- `AMT_TOTAL_RECEIVABLE`: Monto total por cobrar, incluyendo posibles cargos adicionales.

- `CNT_DRAWINGS_ATM_CURRENT`: Número de veces que el cliente retiró dinero en cajero automático ese mes.

- `CNT_DRAWINGS_CURRENT`: Número total de transacciones de retiro del mes.

- `CNT_DRAWINGS_OTHER_CURRENT`: Número de transacciones de retiro en canales diferentes a cajero y POS.

- `CNT_DRAWINGS_POS_CURRENT`: Número de transacciones en POS ese mes.

- `CNT_INSTALMENT_MATURE_CUM`: Número de cuotas del crédito que se han vencido hasta ese momento.

- `NAME_CONTRACT_STATUS`: Estado del contrato en ese mes (Activo, Cerrado, etc.).

- `SK_DPD`: Días de atraso del pago (sin considerar los pagos atrasados anteriores).

- `SK_DPD_DEF`: Días de atraso considerados como morosidad con penalidad.

In [5]:
df_credit_data.isnull().sum()

SK_ID_PREV                    0
SK_ID_CURR                    0
MONTHS_BALANCE                0
AMT_BALANCE                   0
AMT_CREDIT_LIMIT_ACTUAL       0
AMT_DRAWINGS_ATM_CURRENT      0
AMT_DRAWINGS_CURRENT          0
AMT_DRAWINGS_OTHER_CURRENT    0
AMT_DRAWINGS_POS_CURRENT      0
AMT_INST_MIN_REGULARITY       0
AMT_PAYMENT_CURRENT           0
AMT_PAYMENT_TOTAL_CURRENT     0
AMT_RECEIVABLE_PRINCIPAL      0
AMT_RECIVABLE                 0
AMT_TOTAL_RECEIVABLE          0
CNT_DRAWINGS_ATM_CURRENT      0
CNT_DRAWINGS_CURRENT          0
CNT_DRAWINGS_OTHER_CURRENT    0
CNT_DRAWINGS_POS_CURRENT      0
CNT_INSTALMENT_MATURE_CUM     0
NAME_CONTRACT_STATUS          0
SK_DPD                        0
SK_DPD_DEF                    0
dtype: int64

`Observación sobre precisión decimal`

Se identificó una inconsistencia en la precisión decimal de las columnas `AMT`, con valores mostrados con 1, 2 o 3 decimales según la herramienta (Pandas o SQL). Para estandarizar el tratamiento de montos monetarios, se actualizará el dataset redondeando todos los valores flotantes de columnas `AMT` a 2 decimales, conforme al estándar financiero internacional.

In [6]:
# observar la columna de AMT_BALANCE como ejemplo opara ver si debemos de manipular las decimas
df_credit_data['AMT_BALANCE'].head(5)

0        56.970
1     63975.555
2     31815.225
3    236572.110
4    453919.455
Name: AMT_BALANCE, dtype: float64

In [7]:
# Estandarizar todas las columnas de tipo float64 a 2 decimales
# Identificar columnas de tipo float64
columnas_float = df_credit_data.select_dtypes(include=['float64']).columns

# Redondear todas las columnas float64 a 2 decimales
df_credit_data[columnas_float] = df_credit_data[columnas_float].round(2)

print(f"Columnas redondeadas a 2 decimales: {list(columnas_float)}")
print(f"Total de columnas procesadas: {len(columnas_float)}")

Columnas redondeadas a 2 decimales: ['AMT_BALANCE', 'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT', 'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE', 'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM']
Total de columnas procesadas: 15

La columna `AMT_DRAWINGS_CURRENT` y `CNT_DRAWINGS_CURRENT` son redundantes, ya que se pueden obtenerse directamente como la suma de `AMT_DRAWINGS_ATM_CURRENT`, `AMT_DRAWINGS_POS_CURRENT` y `AMT_DRAWINGS_OTHER_CURRENT` y su equivakente para la otra columna. Mantenerla genera riesgo de inconsistencias si los componentes cambian y contribuye a un mayor consumo de espacio. Por tanto, se eliminará y calcularla solo cuando sea necesario.

In [8]:
#Eliminar la columna AMT_DRAWINGS_CURRENT y CNT_DRAWINGS_CURRENT
df_credit_data.drop(columns=['AMT_DRAWINGS_CURRENT', 'CNT_DRAWINGS_CURRENT'], inplace=True)

In [9]:
df_credit_data['AMT_CREDIT_LIMIT_ACTUAL'].head(5)

0    135000
1     45000
2    450000
3    225000
4    450000
Name: AMT_CREDIT_LIMIT_ACTUAL, dtype: int64

La columna `AMT_DRAWINGS_OTHER_CURRENT` presenta valores distintos de cero en solo 3 registros de casi 3 millones, lo que indica una variabilidad extremadamente baja. Debido a su baja frecuencia y escasa relevancia analítica, se considera irrelevante para el análisis o modelado predictivo. Se recomienda eliminarla para optimizar el tamaño y la eficiencia del dataset.

In [10]:
df_credit_data.drop(columns=['AMT_DRAWINGS_OTHER_CURRENT'], inplace=True)

La columna `SK_DPD_DEF` será eliminada del dataset, ya que contiene información redundante respecto a `SK_DPD` y está vacía en casi la totalidad de los registros. No aporta valor al análisis y representa una fuente potencial de ruido.

In [11]:
df_credit_data.drop(columns=['SK_DPD_DEF'], inplace=True)

In [12]:
# cambiar nombre de la columna para eviar inconsistencias en la base de datos 
df_credit_data = df_credit_data.rename(columns={'AMT_RECIVABLE': 'AMT_RECEIVABLE'})

`Conteo de Clientes Únicos`

`Objetivo`
Determinar el número total de clientes únicos en el dataset para entender la escala del análisis y la distribución de datos por cliente.

In [13]:
# Conteo de clientes únicos
obtener_conteo_clientes_unicos(engine_pablo)

=== CONTEO DE CLIENTES ÚNICOS ===
Total de clientes únicos: 103,558
Total de registros: 3,840,312
Promedio de registros por cliente: 37.1

   total_clientes_unicos  total_registros  promedio_registros_por_cliente
0                 103558          3840312                         37.0837

`Análisis Exploratorio con Consultas SQL`

`Objetivo`
Realizar análisis exploratorio del dataset `credit_card_balance` utilizando consultas SQL directas para identificar patrones de comportamiento crediticio y señales de riesgo, sin crear variables redundantes en el DataFrame.

`Metodología`
- `Consultas SQL directas`: Análisis eficiente sin duplicar datos
- `Indicadores de riesgo`: Identificación de comportamientos financieros problemáticos
- `Patrones temporales`: Análisis por estado de contrato y condiciones específicas

`Variables de Análisis`
- `Saldos a favor vs deudas`: Comportamiento de pago responsable
- `Pagos atrasados`: Indicadores de dificultades financieras
- `Cargos adicionales`: Señales de problemas de cumplimiento
- `Estados de contrato`: Patrones por condición crediticia

In [14]:
# Clientes con saldo a favor
clientes_saldo_a_favor(engine_pablo)

# Clientes con deuda pendiente
clientes_con_deuda(engine_pablo)

# Casos con pagos atrasados
casos_pagos_atrasados(engine_pablo)

# Casos con cargos adicionales
casos_cargos_adicionales(engine_pablo)

Clientes con saldo a favor: 109,338 (2.85%)
Clientes con deuda pendiente: 1,617,158 (42.11%)
Casos con pagos atrasados: 0 (0.00%)
Casos con cargos adicionales: 11,244 (0.29%)

   total_cargos_adicionales  porcentaje
0                     11244     0.29279

In [15]:
# Análisis por estado de contrato
analizar_estado_contrato(engine_pablo)

=== ANÁLISIS POR ESTADO DE CONTRATO ===
  NAME_CONTRACT_STATUS  total_registros  con_credito  con_deuda  \
0               Active          3698436     109098.0  1611310.0
1            Completed           128918          0.0      132.0
2               Signed            11058        220.0     4845.0
3               Demand             1365         20.0      870.0
4        Sent proposal              513          0.0        1.0
5              Refused               17          0.0        0.0
6             Approved                5          0.0        0.0

   promedio_receivable
0         60145.125866
1             5.719435
2         45298.992176
3         98607.783132
4            13.026316
5             0.000000
6             0.000000

,NAME_CONTRACT_STATUS,total_registros,con_credito,con_deuda,promedio_receivable
0,Active,3698436,109098.0,1611310.0,60145.125866
1,Completed,128918,0.0,132.0,5.719435
2,Signed,11058,220.0,4845.0,45298.992176
3,Demand,1365,20.0,870.0,98607.783132
4,Sent proposal,513,0.0,1.0,13.026316
5,Refused,17,0.0,0.0,0.000000
6,Approved,5,0.0,0.0,0.000000

`Análisis de Comportamiento por Cliente`

`Objetivo`
Identificar patrones de comportamiento crediticio individual, analizando métricas agregadas por cliente para detectar perfiles de riesgo y responsabilidad financiera.

`Métricas Clave`
- `Total de registros`: Frecuencia de uso de la tarjeta
- `Promedio de receivable`: Nivel de endeudamiento típico
- `Meses con crédito/deuda`: Patrones de comportamiento financiero
- `Pagos atrasados`: Indicadores de riesgo crediticio
- `Utilización del límite`: Eficiencia en el uso del crédito

In [16]:
# Análisis de perfil de clientes - TODOS los clientes
analizar_perfil_clientes(engine_pablo)

=== ANÁLISIS DE PERFIL DE CLIENTES - DATASET COMPLETO ===
Total de clientes analizados: 102,551
Promedio de límite de crédito: $230,925.22
Promedio de días de atraso: 4.0
Clientes sin atrasos: 81,872
Clientes con atrasos: 20,679

=== TOP 5 CLIENTES CON MAYOR RECEIVABLE ===
 SK_ID_CURR  promedio_receivable  promedio_limite_credito  promedio_dias_atraso  ratio_utilizacion
     396144        913096.639286                 900000.0                   0.0           1.014552
     367801        902288.225000                 900000.0                   0.0           1.002542
     436340        890237.198077                 900000.0                   0.0           0.989152
     275409        886660.464600                 900000.0                   0.0           0.985178
     423582        883052.737500                 900000.0                   0.0           0.981170

=== TOP 5 CLIENTES CON MAYOR ATRASO ===
 SK_ID_CURR  promedio_receivable  promedio_limite_credito  promedio_dias_atraso  max_dias_atraso
     155492        388146.562941               157500.000             1883.3725             2650
     172610        388194.210000               157500.000             1852.7143             2588
     431114        108755.066739                90000.000             1635.6848             3260
     351706         45463.991897               135000.000             1424.8276             2800
     151276            49.480312                64453.125             1386.9479             2831

=== CLIENTES VIP (Alto receivable, sin atrasos) ===
Total clientes VIP: 32,078
TOP 5 clientes VIP:
 SK_ID_CURR  promedio_receivable  promedio_limite_credito  ratio_utilizacion
     396144        913096.639286                 900000.0           1.014552
     367801        902288.225000                 900000.0           1.002542
     436340        890237.198077                 900000.0           0.989152
     275409        886660.464600                 900000.0           0.985178
     423582        883052.737500                 900000.0           0.981170

=== CLIENTES DE ALTO RIESGO (Alto receivable, con atrasos) ===
Total clientes de alto riesgo: 11,489
TOP 5 clientes de alto riesgo:
 SK_ID_CURR  promedio_receivable  promedio_dias_atraso  max_dias_atraso
     207931        870690.090000                0.9048               19
     187593        863018.433333                1.0370               28
     433644        821816.916429                0.5000                7
     105902        820062.952500                0.6667                8
     361656        789432.075000                0.2857                8

=== RESUMEN ESTADÍSTICO ===
Porcentaje de clientes sin atrasos: 79.8%
Porcentaje de clientes con atrasos: 20.2%
Porcentaje de clientes VIP: 31.3%
Porcentaje de clientes de alto riesgo: 11.2%

,SK_ID_CURR,total_registros,promedio_receivable,promedio_limite_credito,promedio_dias_atraso,max_dias_atraso,meses_sin_atraso,meses_con_atraso,promedio_pagos,ratio_utilizacion,NAME_CONTRACT_STATUS
0,396144,7,913096.639286,900000.0000,0.0,0,7.0,0.0,38912.130000,1.014552,Active
1,367801,9,902288.225000,900000.0000,0.0,0,9.0,0.0,39252.335000,1.002542,Active
2,436340,13,890237.198077,900000.0000,0.0,0,13.0,0.0,44463.831923,0.989152,Active
3,275409,25,886660.464600,900000.0000,0.0,0,25.0,0.0,43386.305400,0.985178,Active
4,423582,6,883052.737500,900000.0000,0.0,0,6.0,0.0,38937.705000,0.981170,Active
...,...,...,...,...,...,...,...,...,...,...,...
102546,284816,33,-1735.352727,222954.5455,0.0,0,33.0,0.0,2603.029091,-0.007012,Active
102547,179113,33,-1735.352727,222954.5455,0.0,0,33.0,0.0,2603.029091,-0.007012,Active
102548,203520,4,-2430.000000,225000.0000,0.0,0,4.0,0.0,6075.000000,-0.010800,Active
102549,337680,33,-3818.181818,45000.0000,0.0,0,33.0,0.0,3818.181818,-0.084848,Active
102550,172723,33,-3818.181818,45000.0000,0.0,0,33.0,0.0,3818.181818,-0.084848,Active

`Análisis Comparativo: ATM vs POS`

`Objetivo`
Comparar el comportamiento de los clientes entre retiros por cajeros automáticos (ATM) y puntos de venta (POS) para identificar preferencias y patrones de uso.

In [ ]:
# Análisis canal de retiros
analizar_canal_retiros(engine_pablo)

RESULTADOS DEL ANÁLISIS COMPARATIVO:
--------------------------------------------------------------------------------
canal  total_transacciones  total_monto_retirado  promedio_monto  clientes_unicos  porcentaje_transacciones
  ATM               424777          1.842346e+10    43372.068979            60032                  70.68943
  POS               264901          9.175080e+09    34635.880976            40824                  44.08360

================================================================================
ANÁLISIS DETALLADO:
================================================================================

CANAL ATM:
   Total de transacciones: 424,777
   Monto total retirado: $18,423,457,344.59
   Promedio por transacción: $43,372.07
   Clientes únicos: 60,032
   Porcentaje del total de transacciones: 70.7%

CANAL POS:
   Total de transacciones: 264,901
   Monto total retirado: $9,175,079,506.55
   Promedio por transacción: $34,635.88
   Clientes únicos: 40,824
   Porcentaje del total de transacciones: 44.1%

COMPARACIONES:
   Diferencia en transacciones: 159,876
   Diferencia en monto total: $9,248,377,838.04
   Diferencia en promedio: $8,736.19

CONCLUSIÓN: Los clientes prefieren ATM con 70.7% de las transacciones
   Los retiros por ATM son $8736.19 más altos en promedio

,canal,total_transacciones,total_monto_retirado,promedio_monto,clientes_unicos,porcentaje_transacciones
0,ATM,424777,1.842346e+10,43372.068979,60032,70.68943
1,POS,264901,9.175080e+09,34635.880976,40824,44.08360

#### Analisis y limpieza installments_payments

In [29]:
df_installments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  int64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         int64
 5   DAYS_ENTRY_PAYMENT      int64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(2), int64(6)
memory usage: 830.4 MB

- `SK_ID_PREV`: ID del crédito anterior asociado al cliente. Permite enlazar este pago con un préstamo previo.

- `SK_ID_CURR`: ID del cliente, usado para unir esta información con la solicitud principal en application.csv.

- `NUM_INSTALMENT_VERSION`: Número de versión del calendario de pagos del crédito anterior. Indica cambios en las condiciones del préstamo (ej. refinanciaciones).

- `NUM_INSTALMENT_NUMBER``: Número secuencial de la cuota a la que corresponde el pago registrado.

- `DAYS_INSTALMENT`: Día programado para el pago de esa cuota, contado de forma relativa a la fecha de solicitud del crédito actual (negativo).

- `DAYS_ENTRY_PAYMENT`: Día en que efectivamente se realizó el pago, relativo a la fecha de solicitud (puede ser antes o después del esperado).

- `AMT_INSTALMENT`: Valor monetario que se esperaba pagar en esa cuota.

- `AMT_PAYMENT`: Valor monetario que realmente se pagó en esa cuota (puede ser menor, igual o mayor que el esperado).

In [18]:
df_installments.isnull().sum()

SK_ID_PREV                0
SK_ID_CURR                0
NUM_INSTALMENT_VERSION    0
NUM_INSTALMENT_NUMBER     0
DAYS_INSTALMENT           0
DAYS_ENTRY_PAYMENT        0
AMT_INSTALMENT            0
AMT_PAYMENT               0
dtype: int64

`Pasar a datos correctos y estandarizados`, las columnas que deberian de estar en entero como los dias, lo mismo la versión, también al igual que para el dataframe anterior, se estandarizaran los valores monetarios a dos cifras decimales

In [19]:
df_installments[['AMT_INSTALMENT', 'AMT_PAYMENT']].head()

   AMT_INSTALMENT  AMT_PAYMENT
0        6948.360     6948.360
1        1716.525     1716.525
2       25425.000    25425.000
3       24350.130    24350.130
4        2165.040     2160.585

In [46]:
# Pasar las columnas monetarias a cifras decimales de dos cifras

df_installments[['AMT_INSTALMENT', 'AMT_PAYMENT']] = df_installments[['AMT_INSTALMENT', 'AMT_PAYMENT']].round(2)
df_installments[['AMT_INSTALMENT', 'AMT_PAYMENT']].head()

   AMT_INSTALMENT  AMT_PAYMENT
0         6948.36      6948.36
1         1716.52      1716.52
2        25425.00     25425.00
3        24350.13     24350.13
4         2165.04      2160.58

In [21]:
# Convertir las columnas float64 a int
cols_to_convert = ['NUM_INSTALMENT_VERSION', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT']

# Asegúrate de que no hay valores nulos
df_installments[cols_to_convert] = df_installments[cols_to_convert].fillna(0).astype(int)
df_installments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  int64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         int64
 5   DAYS_ENTRY_PAYMENT      int64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(2), int64(6)
memory usage: 830.4 MB

`Análisis Exploratorio con Consultas SQL: installments_payments`

`Objetivo`
Realizar análisis exploratorio del dataset `installments_payments` utilizando consultas SQL directas para identificar patrones de comportamiento de pago, atrasos, cumplimiento y señales de riesgo, sin crear variables redundantes en el DataFrame.

`Metodología`
- `Consultas SQL directas:` Análisis eficiente sobre la base de datos, evitando duplicidad de datos en memoria.
- `Indicadores de riesgo:` Identificación de pagos atrasados, incompletos o adelantados.
- `Patrones temporales:` Análisis por número de cuota, versión de calendario y diferencias entre fechas programadas y reales de pago.

`Variables de Análisis`
- `Pagos completos vs incompletos:` Proporción de cuotas pagadas en su totalidad, parcialmente o en exceso.
- `Pagos atrasados vs adelantados:` Diferencia entre `DAYS_ENTRY_PAYMENT` y `DAYS_INSTALMENT` para identificar atrasos o adelantos en el pago.
- `Montos esperados vs montos pagados` Comparación entre `AMT_INSTALMENT` y `AMT_PAYMENT` para detectar incumplimientos o pagos extraordinarios.
- `Versiones de calendario de pagos:` Análisis de refinanciaciones o cambios en las condiciones del préstamo (`NUM_INSTALMENT_VERSION`).
- `Patrones por cliente:` Agrupación por `SK_ID_CURR` para identificar perfiles de riesgo y responsabilidad financiera.

In [41]:
# Total de pagos realizados y promedio por cliente
obtener_pagos_por_cliente(engine_pablo)

# Pagos atrasados: diferencia entre DAYS_ENTRY_PAYMENT y DAYS_INSTALMENT
obtener_resumen_atrasos(engine_pablo)

# Distribución de pagos incompletos
obtener_distribucion_incompletos(engine_pablo)

=== TOP 10 CLIENTES CON MÁS PAGOS ===
 SK_ID_CURR  total_pagos  promedio_instalment  promedio_payment  pagos_incompletos  pagos_excedidos
     145728          372          8038.891694       6494.796653              113.0              2.0
     296205          350         10790.425543       9908.791329               38.0              0.0
     453103          347         18115.880836      17856.514841               31.0              0.0
     189699          344          7922.772863       7444.101453               37.0             10.0
     186851          337         23404.337893      22914.171454               10.0              0.0
     172690          336         12160.873661      12160.873661                0.0              0.0
     418081          332         12322.223946      11897.055542               10.0              0.0
     192083          324          8904.947639       9038.517778               19.0              4.0
     434807          323         14041.406006       9680.875635              124.0              0.0
     217360          318         17595.811132      20083.306557               56.0             26.0

=== RESUMEN DE PAGOS ATRASADOS Y ADELANTADOS ===
 total_registros  pagos_atrasados  pagos_adelantados  promedio_dias_diferencia
        13605401        1149574.0          9309477.0                 -8.619261

=== DISTRIBUCIÓN DE PAGOS INCOMPLETOS ===
 total_incompletos  promedio_diferencia
           1298353          7590.486283

   total_incompletos  promedio_diferencia
0            1298353          7590.486283

#### Subir base de datos limpia a silver

In [47]:
# Guardar los DataFrames procesados en la base de datos 'bronze' en el esquema 'silver'
try:
    df_credit_data.to_sql("credit_card_balance", engine_pablo, if_exists='replace', index=False, schema='silver')
    df_installments.to_sql("installments_payments", engine_pablo, if_exists='replace', index=False, schema='silver')
    print("DataFrames guardados exitosamente en la base de datos silver")
except Exception as e:
    print(f"Error al guardar los DataFrames: {e}")

DataFrames guardados exitosamente en la base de datos silver

## Gold

#### Ingeniería de Características `credit_card_balance` y `installments_payments`
 
En esta sección, llamaremos a la función `prepare_features_for_modeling` para crear nuevas variables relacionadas con el comportamiento del cliente, utilizando la información proveniente de la tabla `credit_card_balance y  installments_payments`.

Estas nuevas variables están diseñadas para capturar indicadores clave del uso de la tarjeta de crédito, como:

- `Pagos atrasados`
- `Saldos a favor o deudas`
- `Cargos adicionales inesperados`

Estas características se generarán en forma binaria (banderas) y también como variables numéricas que cuantifican el monto asociado, con el fin de enriquecer el conjunto final de entrenamiento con información relevante que podría mejorar la capacidad predictiva del modelo.

Luego de generar estas columnas, se agruparán por cliente (`SK_ID_CURR`) para obtener una vista consolidada por individuo.

In [52]:
df_gold_inst_credit = prepare_features_for_modeling(df_balance=df_credit_data, df_inst=df_installments)

== Primeras filas del dataset preparado (GOLD) ==
   SK_ID_CURR  HAS_CREDIT_BALANCE  HAS_LATE_PAYMENTS  HAS_ADDITIONAL_CHARGES  \
0      100006                   0                  0                       0
1      100011                   1                  0                       0
2      100013                   1                  0                       0
3      100021                   0                  0                       0
4      100023                   0                  0                       0

   NUM_LOANS_TOTAL  AVG_PAYMENT_RATIO  FRAC_PAYMENTS_LATE  AVG_DELAY_DAYS  \
0             16.0           1.000000            0.000000        0.000000
1            130.0           0.907692            0.146154       54.368421
2            155.0           0.935484            0.070968        7.636364
3             23.0           1.000000            0.173913       14.000000
4             26.0           1.000000            0.000000        0.000000

   MAX_DELAY_DAYS  FRAC_MISSED_PAYMENTS  FRAC_UNDERPAID  FRAC_OVERPAID  \
0            -1.0                   0.0        0.000000            0.0
1           958.0                   0.0        0.176923            0.0
2            21.0                   0.0        0.129032            0.0
3            15.0                   0.0        0.000000            0.0
4             0.0                   0.0        0.000000            0.0

   RECENCY_DAYS
0         575.0
1        2477.0
2        2705.0
3        2776.0
4        2393.0

== Distribución de variables clave ==
       NUM_LOANS_TOTAL  FRAC_PAYMENTS_LATE  AVG_PAYMENT_RATIO   RECENCY_DAYS
count    103558.000000       103558.000000      103558.000000  103558.000000
mean         73.018531            0.064836           1.355842    1880.298615
std          52.493558            0.085228          28.220102     916.013852
min           0.000000            0.000000           0.000000       0.000000
25%          31.000000            0.000000           0.961538    1019.000000
50%          59.000000            0.032468           1.000000    2097.000000
75%         108.000000            0.095238           1.000000    2776.000000
max         372.000000            1.000000        4981.743590    3129.000000