In [1]:
from sqlalchemy import create_engine
from sqlalchemy import select
from sqlalchemy import text
import pandas as pd

In [2]:
credenciales = "mysql+pymysql://root:Enero182005%@127.0.0.1:3306/bronze"
engine = create_engine(credenciales, echo=True)

In [4]:
consulta = text("show tables")
pd.read_sql(consulta, engine)

2025-07-31 17:46:25,007 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-31 17:46:25,009 INFO sqlalchemy.engine.Engine show tables
2025-07-31 17:46:25,010 INFO sqlalchemy.engine.Engine [cached since 60.54s ago] {}
2025-07-31 17:46:25,038 INFO sqlalchemy.engine.Engine ROLLBACK

        Tables_in_bronze
0       application_test
1      application_train
2                 bureau
3         bureau_balance
4    credit_card_balance
5  installments_payments
6       pos_cash_balance
7   previous_application