## Libraries

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import select
from sqlalchemy import text
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

## Silver Schema

### Credenciales

In [3]:
credenciales_felipe = "mysql+pymysql://root:Enero182005%@127.0.0.1:3306/"
engine = create_engine(credenciales_felipe, echo=True)

In [ ]:
try:
    engine_pablo = create_engine("mysql+pymysql://root:juanMySQL0513.@localhost/bronze")
    print("Database connection successful!")
except Exception as e:
    print(f"Database connection failed: {str(e)}")
    raise

Database connection successful!

### EDA tabla `application_train`

#### Descripción de las tablas

La `tabla application_train`.csv contienen información detallada sobre las solicitudes de crédito de los clientes en el marco del problema de riesgo crediticio de Home Credit. Cada fila representa una solicitud de préstamo hecha por un cliente, e incluye una variedad de variables que permiten caracterizar tanto su situación personal como financiera, con el objetivo de evaluar la probabilidad de incumplimiento en el pago del crédito.

Las variables de esta tabla abarcan múltiples aspectos del cliente. Entre ellas se encuentran datos demográficos como la edad, el género, el estado civil, el número de hijos y el nivel educativo. También incluye información relacionada con el empleo y los ingresos del cliente, como el tipo de ocupación, el ingreso total declarado y la antigüedad laboral. En cuanto al préstamo solicitado, se incluyen detalles como el tipo de contrato, el monto del crédito, el valor del bien a financiar y el monto de la anualidad que debe pagar el cliente.

Además, la tabla registra condiciones de vivienda (como si el cliente posee casa o automóvil, el tipo de vivienda, y características físicas del inmueble), información sobre medios de contacto y localización geográfica, y puntuaciones externas proporcionadas por fuentes anónimas que estiman el nivel de riesgo crediticio del cliente. También se incluyen indicadores binarios que señalan incongruencias entre el lugar de residencia y el lugar de trabajo, o si el cliente cambió recientemente su documento de identidad.

#### Descripcion de las columnas

Dado que la `tabla application_train.csv` contiene una gran cantidad de variables, muchas de las cuales resultan redundantes o poco relevantes para el análisis del riesgo crediticio —ya sea porque aportan información que se encuentra explícita en otras columnas, porque presentan una baja utilidad predictiva o porque ya están presentes en otras tablas de la base de datos—, se ha decidido omitir la descripción detallada de estas en este documento. Esta decisión responde a una futura depuración del conjunto de datos, en la que estas variables serán eliminadas para simplificar el análisis y optimizar el rendimiento de los modelos.

Sin embargo, si en algún momento un analista o investigador desea profundizar en el estudio de estas variables excluidas, puede consultar la descripción completa en el archivo `HomeCredit_columns_description.csv`, el cual contiene una explicación detallada de todas las columnas disponibles en el conjunto de datos original.

In [8]:
df_train= pd.read_sql_query("SELECT*FROM bronze.application_train", engine)

2025-08-03 17:00:41,686 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-03 17:00:41,688 INFO sqlalchemy.engine.Engine SELECT*FROM bronze.application_train
2025-08-03 17:00:41,689 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-03 17:01:50,511 INFO sqlalchemy.engine.Engine ROLLBACK

In [7]:
df_train

### Colums

In [76]:
df_train.info(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               int64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      int64
 92   DEF_30_CNT_SOCIAL_CIRCLE      int64
 93   OBS_60_CNT_SOCIAL_CIRCLE      int64
 94   DEF_60_CNT_SOCIAL_CIRCLE      int64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    int64
 117  AMT_REQ_CREDIT_BUREAU_DAY     int64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    int64
 119  AMT_REQ_CREDIT_BUREAU_MON     int64
 120  AMT_REQ_CREDIT_BUREAU_QRT     int64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    int64
dtypes: float64(54), int64(52), object(16)
memory usage: 286.2+ MB

### Limpieza de datos

No hay valores nulos

In [77]:
##valores nulos
valores_nulos = df_train.isnull().sum().to_frame()
valores_nulos= valores_nulos[valores_nulos[0]>0]
valores_nulos

Empty DataFrame
Columns: [0]
Index: []

En las tablas existen algunos valores vacios

In [78]:
conteo=((df_train=="")).sum().to_frame()
conteo=conteo[conteo[0]>0]
conteo

                          0
NAME_TYPE_SUITE        1292
OCCUPATION_TYPE       96391
FONDKAPREMONT_MODE   210295
HOUSETYPE_MODE       154297
WALLSMATERIAL_MODE   156341
EMERGENCYSTATE_MODE  145755

Una vez identificadas las columnas que presentaban valores vacios se procedio a cambiar este valor por not specified or others dependiendo del concepto del significado de la columna y sus valores.

In [79]:
df_train["NAME_TYPE_SUITE"].value_counts()

NAME_TYPE_SUITE
Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
                     1292
Other_A               866
Group of people       271
Name: count, dtype: int64

In [80]:
df_train["NAME_TYPE_SUITE"].replace("", "Unaccompanied", inplace=True)

C:\Users\Juan Felipe\AppData\Local\Temp\ipykernel_13748\2899512989.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train["NAME_TYPE_SUITE"].replace("", "Unaccompanied", inplace=True)

In [81]:
df_train.OCCUPATION_TYPE.value_counts()

OCCUPATION_TYPE
                         96391
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: count, dtype: int64

In [82]:
df_train["OCCUPATION_TYPE"].replace("", "Others", inplace=True)

C:\Users\Juan Felipe\AppData\Local\Temp\ipykernel_13748\3912734750.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train["OCCUPATION_TYPE"].replace("", "Others", inplace=True)

In [83]:
df_train.FONDKAPREMONT_MODE.value_counts()

FONDKAPREMONT_MODE
                         210295
reg oper account          73830
reg oper spec account     12080
not specified              5687
org spec account           5619
Name: count, dtype: int64

In [84]:
df_train.HOUSETYPE_MODE.value_counts()

HOUSETYPE_MODE
                    154297
block of flats      150503
specific housing      1499
terraced house        1212
Name: count, dtype: int64

In [85]:
df_train["WALLSMATERIAL_MODE"].value_counts()

WALLSMATERIAL_MODE
                156341
Panel            66040
Stone, brick     64815
Block             9253
Wooden            5362
Mixed             2296
Monolithic        1779
Others            1625
Name: count, dtype: int64

In [86]:
df_train["EMERGENCYSTATE_MODE"].value_counts()

EMERGENCYSTATE_MODE
No     159428
       145755
Yes      2328
Name: count, dtype: int64

In [87]:
variables=["FONDKAPREMONT_MODE","HOUSETYPE_MODE","WALLSMATERIAL_MODE","EMERGENCYSTATE_MODE"]
for variable in variables:
    df_train[variable].replace("", "not specified", inplace=True)

C:\Users\Juan Felipe\AppData\Local\Temp\ipykernel_13748\1761253058.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train[variable].replace("", "not specified", inplace=True)

Durante el análisis, se identificó que las columnas con el prefijo "days" presentaban valores negativos, lo cual generaba una considerable confusión al interpretar la cronología de los datos. Para resolver esta inconsistencia y preparar adecuadamente el conjunto de datos, el analista procedió a realizar una limpieza. En primer lugar, se convirtieron todos esos valores negativos a su equivalente positivo para eliminar la ambigüedad. la columna `DAYS_BIRTH` se normaliza a años para mejorar la interpretacion de este dato

In [88]:
# Filtrar columnas que contienen 'DAYS' 
df_days = df_train[[col for col in df_train.columns if 'DAYS' in col.upper()]]
df_days

,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE
0,-9461,-637,-3648.0,-2120,-1134.0
1,-16765,-1188,-1186.0,-291,-828.0
2,-19046,-225,-4260.0,-2531,-815.0
3,-19005,-3039,-9833.0,-2437,-617.0
4,-19932,-3038,-4311.0,-3458,-1106.0
...,...,...,...,...,...
307506,-9327,-236,-8456.0,-1982,-273.0
307507,-20775,365243,-4388.0,-4090,0.0
307508,-14966,-7921,-6737.0,-5150,-1909.0
307509,-11961,-4786,-2562.0,-931,-322.0
307510,-16856,-1262,-5128.0,-410,-787.0

In [89]:
df_train[df_days.columns.to_list()]=(df_train[df_days.columns.to_list()].abs())

In [90]:
df_train.DAYS_BIRTH=(df_train.DAYS_BIRTH / 365).astype(np.int64)
df_train.rename(columns={'DAYS_BIRTH': 'YEARS_BIRTH'}, inplace=True)

In [ ]:
df_train.to_sql('application_train', con=engine, if_exists="replace", index=False ,schema="silver")
print("Dataframes saved to silver schema successfully.")

2025-08-02 22:19:20,730 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-02 22:19:21,434 INFO sqlalchemy.engine.Engine DESCRIBE `silver`.`application_train`
2025-08-02 22:19:21,439 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-02 22:19:21,477 INFO sqlalchemy.engine.Engine DESCRIBE `silver`.`application_train`
2025-08-02 22:19:21,479 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-02 22:19:21,493 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `silver`
2025-08-02 22:19:21,496 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-02 22:19:21,506 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `silver`
2025-08-02 22:19:21,508 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-02 22:19:21,580 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `silver`.`application_train`
2025-08-02 22:19:21,585 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-02 22:19:21,659 INFO sqlalchemy.engine.Engine
DROP TABLE silver.application_train
2025-08-02 22:19:21,662 INFO sqlalchemy.engine.Engine [no key 0.00270s] {}
2025-08-02 22:19:21,863 INFO sqlalchemy.engine.Engine
CREATE TABLE silver.application_train (
	`SK_ID_CURR` BIGINT,
	`TARGET` BIGINT,
	`NAME_CONTRACT_TYPE` TEXT,
	`CODE_GENDER` TEXT,
	`FLAG_OWN_CAR` TEXT,
	`FLAG_OWN_REALTY` TEXT,
	`CNT_CHILDREN` BIGINT,
	`AMT_INCOME_TOTAL` FLOAT(53),
	`AMT_CREDIT` FLOAT(53),
	`AMT_ANNUITY` FLOAT(53),
	`AMT_GOODS_PRICE` FLOAT(53),
	`NAME_TYPE_SUITE` TEXT,
	`NAME_INCOME_TYPE` TEXT,
	`NAME_EDUCATION_TYPE` TEXT,
	`NAME_FAMILY_STATUS` TEXT,
	`NAME_HOUSING_TYPE` TEXT,
	`REGION_POPULATION_RELATIVE` FLOAT(53),
	`YEARS_BIRTH` BIGINT,
	`DAYS_EMPLOYED` BIGINT,
	`DAYS_REGISTRATION` FLOAT(53),
	`DAYS_ID_PUBLISH` BIGINT,
	`OWN_CAR_AGE` FLOAT(53),
	`FLAG_MOBIL` BIGINT,
	`FLAG_EMP_PHONE` BIGINT,
	`FLAG_WORK_PHONE` BIGINT,
	`FLAG_CONT_MOBILE` BIGINT,
	`FLAG_PHONE` BIGINT,
	`FLAG_EMAIL` BIGINT,
	`OCCUPATION_TYPE` TEXT,
	`CNT_FAM_MEMBERS` BIGINT,
	`REGION_RATING_CLIENT` BIGINT,
	`REGION_RATING_CLIENT_W_CITY` BIGINT,
	`WEEKDAY_APPR_PROCESS_START` TEXT,
	`HOUR_APPR_PROCESS_START` BIGINT,
	`REG_REGION_NOT_LIVE_REGION` BIGINT,
	`REG_REGION_NOT_WORK_REGION` BIGINT,
	`LIVE_REGION_NOT_WORK_REGION` BIGINT,
	`REG_CITY_NOT_LIVE_CITY` BIGINT,
	`REG_CITY_NOT_WORK_CITY` BIGINT,
	`LIVE_CITY_NOT_WORK_CITY` BIGINT,
	`ORGANIZATION_TYPE` TEXT,
	`EXT_SOURCE_1` FLOAT(53),
	`EXT_SOURCE_2` FLOAT(53),
	`EXT_SOURCE_3` FLOAT(53),
	`APARTMENTS_AVG` FLOAT(53),
	`BASEMENTAREA_AVG` FLOAT(53),
	`YEARS_BEGINEXPLUATATION_AVG` FLOAT(53),
	`YEARS_BUILD_AVG` FLOAT(53),
	`COMMONAREA_AVG` FLOAT(53),
	`ELEVATORS_AVG` FLOAT(53),
	`ENTRANCES_AVG` FLOAT(53),
	`FLOORSMAX_AVG` FLOAT(53),
	`FLOORSMIN_AVG` FLOAT(53),
	`LANDAREA_AVG` FLOAT(53),
	`LIVINGAPARTMENTS_AVG` FLOAT(53),
	`LIVINGAREA_AVG` FLOAT(53),
	`NONLIVINGAPARTMENTS_AVG` FLOAT(53),
	`NONLIVINGAREA_AVG` FLOAT(53),
	`APARTMENTS_MODE` FLOAT(53),
	`BASEMENTAREA_MODE` FLOAT(53),
	`YEARS_BEGINEXPLUATATION_MODE` FLOAT(53),
	`YEARS_BUILD_MODE` FLOAT(53),
	`COMMONAREA_MODE` FLOAT(53),
	`ELEVATORS_MODE` FLOAT(53),
	`ENTRANCES_MODE` FLOAT(53),
	`FLOORSMAX_MODE` FLOAT(53),
	`FLOORSMIN_MODE` FLOAT(53),
	`LANDAREA_MODE` FLOAT(53),
	`LIVINGAPARTMENTS_MODE` FLOAT(53),
	`LIVINGAREA_MODE` FLOAT(53),
	`NONLIVINGAPARTMENTS_MODE` FLOAT(53),
	`NONLIVINGAREA_MODE` FLOAT(53),
	`APARTMENTS_MEDI` FLOAT(53),
	`BASEMENTAREA_MEDI` FLOAT(53),
	`YEARS_BEGINEXPLUATATION_MEDI` FLOAT(53),
	`YEARS_BUILD_MEDI` FLOAT(53),
	`COMMONAREA_MEDI` FLOAT(53),
	`ELEVATORS_MEDI` FLOAT(53),
	`ENTRANCES_MEDI` FLOAT(53),
	`FLOORSMAX_MEDI` FLOAT(53),
	`FLOORSMIN_MEDI` FLOAT(53),
	`LANDAREA_MEDI` FLOAT(53),
	`LIVINGAPARTMENTS_MEDI` FLOAT(53),
	`LIVINGAREA_MEDI` FLOAT(53),
	`NONLIVINGAPARTMENTS_MEDI` FLOAT(53),
	`NONLIVINGAREA_MEDI` FLOAT(53),
	`FONDKAPREMONT_MODE` TEXT,
	`HOUSETYPE_MODE` TEXT,
	`TOTALAREA_MODE` FLOAT(53),
	`WALLSMATERIAL_MODE` TEXT,
	`EMERGENCYSTATE_MODE` TEXT,
	`OBS_30_CNT_SOCIAL_CIRCLE` BIGINT,
	`DEF_30_CNT_SOCIAL_CIRCLE` BIGINT,
	`OBS_60_CNT_SOCIAL_CIRCLE` BIGINT,
	`DEF_60_CNT_SOCIAL_CIRCLE` BIGINT,
	`DAYS_LAST_PHONE_CHANGE` FLOAT(53),
	`FLAG_DOCUMENT_2` BIGINT,
	`FLAG_DOCUMENT_3` BIGINT,
	`FLAG_DOCUMENT_4` BIGINT,
	`FLAG_DOCUMENT_5` BIGINT,
	`FLAG_DOCUMENT_6` BIGINT,
	`FLAG_DOCUMENT_7` BIGINT,
	`FLAG_DOCUMENT_8` BIGINT,
	`FLAG_DOCUMENT_9` BIGINT,
	`FLAG_DOCUMENT_10` BIGINT,
	`FLAG_DOCUMENT_11` BIGINT,
	`FLAG_DOCUMENT_12` BIGINT,
	`FLAG_DOCUMENT_13` BIGINT,
	`FLAG_DOCUMENT_14` BIGINT,
	`FLAG_DOCUMENT_15` BIGINT,
	`FLAG_DOCUMENT_16` BIGINT,
	`FLAG_DOCUMENT_17` BIGINT,
	`FLAG_DOCUMENT_18` BIGINT,
	`FLAG_DOCUMENT_19` BIGINT,
	`FLAG_DOCUMENT_20` BIGINT,
	`FLAG_DOCUMENT_21` BIGINT,
	`AMT_REQ_CREDIT_BUREAU_HOUR` BIGINT,
	`AMT_REQ_CREDIT_BUREAU_DAY` BIGINT,
	`AMT_REQ_CREDIT_BUREAU_WEEK` BIGINT,
	`AMT_REQ_CREDIT_BUREAU_MON` BIGINT,
	`AMT_REQ_CREDIT_BUREAU_QRT` BIGINT,
	`AMT_REQ_CREDIT_BUREAU_YEAR` BIGINT
)


2025-08-02 22:19:21,867 INFO sqlalchemy.engine.Engine [no key 0.00395s] {}
2025-08-02 22:21:15,635 INFO sqlalchemy.engine.Engine INSERT INTO silver.application_train (`SK_ID_CURR`, `TARGET`, `NAME_CONTRACT_TYPE`, `CODE_GENDER`, `FLAG_OWN_CAR`, `FLAG_OWN_REALTY`, `CNT_CHILDREN`, `AMT_INCOME_TOTAL`, `AMT_CREDIT`, `AMT_ANNUITY`, `AMT_GOODS_PRICE`, `NAME_TYPE_SUITE`, `NAME_INCOME_TYPE`, `NAME_EDUCATION_TYPE`, `NAME_FAMILY_STATUS`, `NAME_HOUSING_TYPE`, `REGION_POPULATION_RELATIVE`, `YEARS_BIRTH`, `DAYS_EMPLOYED`, `DAYS_REGISTRATION`, `DAYS_ID_PUBLISH`, `OWN_CAR_AGE`, `FLAG_MOBIL`, `FLAG_EMP_PHONE`, `FLAG_WORK_PHONE`, `FLAG_CONT_MOBILE`, `FLAG_PHONE`, `FLAG_EMAIL`, `OCCUPATION_TYPE`, `CNT_FAM_MEMBERS`, `REGION_RATING_CLIENT`, `REGION_RATING_CLIENT_W_CITY`, `WEEKDAY_APPR_PROCESS_START`, `HOUR_APPR_PROCESS_START`, `REG_REGION_NOT_LIVE_REGION`, `REG_REGION_NOT_WORK_REGION`, `LIVE_REGION_NOT_WORK_REGION`, `REG_CITY_NOT_LIVE_CITY`, `REG_CITY_NOT_WORK_CITY`, `LIVE_CITY_NOT_WORK_CITY`, `ORGANIZATION_TYPE`, `EXT_SOURCE_1`, `EXT_SOURCE_2`, `EXT_SOURCE_3`, `APARTMENTS_AVG`, `BASEMENTAREA_AVG`, `YEARS_BEGINEXPLUATATION_AVG`, `YEARS_BUILD_AVG`, `COMMONAREA_AVG`, `ELEVATORS_AVG`, `ENTRANCES_AVG`, `FLOORSMAX_AVG`, `FLOORSMIN_AVG`, `LANDAREA_AVG`, `LIVINGAPARTMENTS_AVG`, `LIVINGAREA_AVG`, `NONLIVINGAPARTMENTS_AVG`, `NONLIVINGAREA_AVG`, `APARTMENTS_MODE`, `BASEMENTAREA_MODE`, `YEARS_BEGINEXPLUATATION_MODE`, `YEARS_BUILD_MODE`, `COMMONAREA_MODE`, `ELEVATORS_MODE`, `ENTRANCES_MODE`, `FLOORSMAX_MODE`, `FLOORSMIN_MODE`, `LANDAREA_MODE`, `LIVINGAPARTMENTS_MODE`, `LIVINGAREA_MODE`, `NONLIVINGAPARTMENTS_MODE`, `NONLIVINGAREA_MODE`, `APARTMENTS_MEDI`, `BASEMENTAREA_MEDI`, `YEARS_BEGINEXPLUATATION_MEDI`, `YEARS_BUILD_MEDI`, `COMMONAREA_MEDI`, `ELEVATORS_MEDI`, `ENTRANCES_MEDI`, `FLOORSMAX_MEDI`, `FLOORSMIN_MEDI`, `LANDAREA_MEDI`, `LIVINGAPARTMENTS_MEDI`, `LIVINGAREA_MEDI`, `NONLIVINGAPARTMENTS_MEDI`, `NONLIVINGAREA_MEDI`, `FONDKAPREMONT_MODE`, `HOUSETYPE_MODE`, `TOTALAREA_MODE`, `WALLSMATERIAL_MODE`, `EMERGENCYSTATE_MODE`, `OBS_30_CNT_SOCIAL_CIRCLE`, `DEF_30_CNT_SOCIAL_CIRCLE`, `OBS_60_CNT_SOCIAL_CIRCLE`, `DEF_60_CNT_SOCIAL_CIRCLE`, `DAYS_LAST_PHONE_CHANGE`, `FLAG_DOCUMENT_2`, `FLAG_DOCUMENT_3`, `FLAG_DOCUMENT_4`, `FLAG_DOCUMENT_5`, `FLAG_DOCUMENT_6`, `FLAG_DOCUMENT_7`, `FLAG_DOCUMENT_8`, `FLAG_DOCUMENT_9`, `FLAG_DOCUMENT_10`, `FLAG_DOCUMENT_11`, `FLAG_DOCUMENT_12`, `FLAG_DOCUMENT_13`, `FLAG_DOCUMENT_14`, `FLAG_DOCUMENT_15`, `FLAG_DOCUMENT_16`, `FLAG_DOCUMENT_17`, `FLAG_DOCUMENT_18`, `FLAG_DOCUMENT_19`, `FLAG_DOCUMENT_20`, `FLAG_DOCUMENT_21`, `AMT_REQ_CREDIT_BUREAU_HOUR`, `AMT_REQ_CREDIT_BUREAU_DAY`, `AMT_REQ_CREDIT_BUREAU_WEEK`, `AMT_REQ_CREDIT_BUREAU_MON`, `AMT_REQ_CREDIT_BUREAU_QRT`, `AMT_REQ_CREDIT_BUREAU_YEAR`) VALUES (%(SK_ID_CURR)s, %(TARGET)s, %(NAME_CONTRACT_TYPE)s, %(CODE_GENDER)s, %(FLAG_OWN_CAR)s, %(FLAG_OWN_REALTY)s, %(CNT_CHILDREN)s, %(AMT_INCOME_TOTAL)s, %(AMT_CREDIT)s, %(AMT_ANNUITY)s, %(AMT_GOODS_PRICE)s, %(NAME_TYPE_SUITE)s, %(NAME_INCOME_TYPE)s, %(NAME_EDUCATION_TYPE)s, %(NAME_FAMILY_STATUS)s, %(NAME_HOUSING_TYPE)s, %(REGION_POPULATION_RELATIVE)s, %(YEARS_BIRTH)s, %(DAYS_EMPLOYED)s, %(DAYS_REGISTRATION)s, %(DAYS_ID_PUBLISH)s, %(OWN_CAR_AGE)s, %(FLAG_MOBIL)s, %(FLAG_EMP_PHONE)s, %(FLAG_WORK_PHONE)s, %(FLAG_CONT_MOBILE)s, %(FLAG_PHONE)s, %(FLAG_EMAIL)s, %(OCCUPATION_TYPE)s, %(CNT_FAM_MEMBERS)s, %(REGION_RATING_CLIENT)s, %(REGION_RATING_CLIENT_W_CITY)s, %(WEEKDAY_APPR_PROCESS_START)s, %(HOUR_APPR_PROCESS_START)s, %(REG_REGION_NOT_LIVE_REGION)s, %(REG_REGION_NOT_WORK_REGION)s, %(LIVE_REGION_NOT_WORK_REGION)s, %(REG_CITY_NOT_LIVE_CITY)s, %(REG_CITY_NOT_WORK_CITY)s, %(LIVE_CITY_NOT_WORK_CITY)s, %(ORGANIZATION_TYPE)s, %(EXT_SOURCE_1)s, %(EXT_SOURCE_2)s, %(EXT_SOURCE_3)s, %(APARTMENTS_AVG)s, %(BASEMENTAREA_AVG)s, %(YEARS_BEGINEXPLUATATION_AVG)s, %(YEARS_BUILD_AVG)s, %(COMMONAREA_AVG)s, %(ELEVATORS_AVG)s, %(ENTRANCES_AVG)s, %(FLOORSMAX_AVG)s, %(FLOORSMIN_AVG)s, %(LANDAREA_AVG)s, %(LIVINGAPARTMENTS_AVG)s, %(LIVINGAREA_AVG)s, %(NONLIVINGAPARTMENTS_AVG)s, %(NONLIVINGAREA_AVG)s, %(APARTMENTS_MODE)s, %(BASEMENTAREA_MODE)s, %(YEARS_BEGINEXPLUATATION_MODE)s, %(YEARS_BUILD_MODE)s, %(COMMONAREA_MODE)s, %(ELEVATORS_MODE)s, %(ENTRANCES_MODE)s, %(FLOORSMAX_MODE)s, %(FLOORSMIN_MODE)s, %(LANDAREA_MODE)s, %(LIVINGAPARTMENTS_MODE)s, %(LIVINGAREA_MODE)s, %(NONLIVINGAPARTMENTS_MODE)s, %(NONLIVINGAREA_MODE)s, %(APARTMENTS_MEDI)s, %(BASEMENTAREA_MEDI)s, %(YEARS_BEGINEXPLUATATION_MEDI)s, %(YEARS_BUILD_MEDI)s, %(COMMONAREA_MEDI)s, %(ELEVATORS_MEDI)s, %(ENTRANCES_MEDI)s, %(FLOORSMAX_MEDI)s, %(FLOORSMIN_MEDI)s, %(LANDAREA_MEDI)s, %(LIVINGAPARTMENTS_MEDI)s, %(LIVINGAREA_MEDI)s, %(NONLIVINGAPARTMENTS_MEDI)s, %(NONLIVINGAREA_MEDI)s, %(FONDKAPREMONT_MODE)s, %(HOUSETYPE_MODE)s, %(TOTALAREA_MODE)s, %(WALLSMATERIAL_MODE)s, %(EMERGENCYSTATE_MODE)s, %(OBS_30_CNT_SOCIAL_CIRCLE)s, %(DEF_30_CNT_SOCIAL_CIRCLE)s, %(OBS_60_CNT_SOCIAL_CIRCLE)s, %(DEF_60_CNT_SOCIAL_CIRCLE)s, %(DAYS_LAST_PHONE_CHANGE)s, %(FLAG_DOCUMENT_2)s, %(FLAG_DOCUMENT_3)s, %(FLAG_DOCUMENT_4)s, %(FLAG_DOCUMENT_5)s, %(FLAG_DOCUMENT_6)s, %(FLAG_DOCUMENT_7)s, %(FLAG_DOCUMENT_8)s, %(FLAG_DOCUMENT_9)s, %(FLAG_DOCUMENT_10)s, %(FLAG_DOCUMENT_11)s, %(FLAG_DOCUMENT_12)s, %(FLAG_DOCUMENT_13)s, %(FLAG_DOCUMENT_14)s, %(FLAG_DOCUMENT_15)s, %(FLAG_DOCUMENT_16)s, %(FLAG_DOCUMENT_17)s, %(FLAG_DOCUMENT_18)s, %(FLAG_DOCUMENT_19)s, %(FLAG_DOCUMENT_20)s, %(FLAG_DOCUMENT_21)s, %(AMT_REQ_CREDIT_BUREAU_HOUR)s, %(AMT_REQ_CREDIT_BUREAU_DAY)s, %(AMT_REQ_CREDIT_BUREAU_WEEK)s, %(AMT_REQ_CREDIT_BUREAU_MON)s, %(AMT_REQ_CREDIT_BUREAU_QRT)s, %(AMT_REQ_CREDIT_BUREAU_YEAR)s)

### EDA tablas `credit_card_balance` y `installments_payments`

In [92]:
df_credit_data = pd.read_sql("select * from credit_card_balance", engine_pablo)
df_installments = pd.read_sql("select * from installments_payments", engine_pablo)

NameError: name 'engine_pablo' is not defined

#### Descripción de las tablas

`installments_payments`

Esta tabla contiene información detallada sobre los pagos realizados por los clientes en relación con las cuotas de créditos anteriores. Cada fila representa una cuota específica, incluyendo tanto la fecha programada como la fecha real del pago, así como los montos relacionados. Los datos permiten analizar el comportamiento de pago de los clientes, identificar atrasos, pagos incompletos o adelantados, y evaluar su responsabilidad financiera en créditos pasados.

`credit_card_balance`

Esta tabla representa el historial mensual del comportamiento de los clientes con sus tarjetas de crédito. Incluye información como el saldo de la tarjeta, el límite de crédito, los montos retirados, los pagos realizados y el estado del contrato mes a mes. Es útil para analizar patrones de gasto, nivel de endeudamiento, frecuencia de uso del crédito, cumplimiento de pagos y posibles señales de riesgo financiero.

#### Descripción de columnas del dataset credit_card_balance

In [ ]:
df_credit_data.dtypes

SK_ID_PREV                      int64
SK_ID_CURR                      int64
MONTHS_BALANCE                  int64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL         int64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT            int64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS           object
SK_DPD                          int64
SK_DPD_DEF                      int64
dtype: object

- `SK_ID_PREV`: ID de crédito (anterior), sirve como clave para unir datos anteriores de la misma solicitud.
- `SK_ID_CURR`: ID del cliente que permite unir los datos con el cliente principal en application.csv.
- `MONTHS_BALANCE`: Mes relativo del saldo del crédito con respecto a la fecha de aplicación (0 es el mes más reciente).
- `AMT_BALANCE`: Monto del saldo restante en la tarjeta de crédito.
- `AMT_CREDIT_LIMIT_ACTUAL`: Límite de crédito actual de la tarjeta.
- `AMT_DRAWINGS_ATM_CURRENT`: Monto total retirado en cajeros automáticos ese mes.
- `AMT_DRAWINGS_CURRENT`: Monto total retirado en el mes (incluye cajero, POS, otros).
- `AMT_DRAWINGS_OTHER_CURRENT`: Monto retirado por otros medios que no sean cajero o POS.
- `AMT_DRAWINGS_POS_CURRENT`: Monto retirado en puntos de venta (POS).
- `AMT_INST_MIN_REGULARITY`: Pago mínimo mensual requerido.
- `AMT_PAYMENT_CURRENT`: Monto pagado en el mes.
- `AMT_PAYMENT_TOTAL_CURRENT`: Total de pagos en el mes (puede incluir pagos atrasados).
- `AMT_RECEIVABLE_PRINCIPAL`: Monto del principal que aún debe pagarse.
- `AMT_RECIVABLE`: Monto total que el cliente debe (principal + intereses).
- `AMT_TOTAL_RECEIVABLE`: Monto total por cobrar, incluyendo posibles cargos adicionales.
- `CNT_DRAWINGS_ATM_CURRENT`: Número de veces que el cliente retiró dinero en cajero automático ese mes.
- `CNT_DRAWINGS_CURRENT`: Número total de transacciones de retiro del mes.
- `CNT_DRAWINGS_OTHER_CURRENT`: Número de transacciones de retiro en canales diferentes a cajero y POS.
- `CNT_DRAWINGS_POS_CURRENT`: Número de transacciones en POS ese mes.
- `CNT_INSTALMENT_MATURE_CUM`: Número de cuotas del crédito que se han vencido hasta ese momento.
- `NAME_CONTRACT_STATUS`: Estado del contrato en ese mes (Activo, Cerrado, etc.).
- `SK_DPD`: Días de atraso del pago (sin considerar los pagos atrasados anteriores).
- `SK_DPD_DEF`: Días de atraso considerados como morosidad con penalidad.

#### Analisis y limpieza

In [ ]:
df_credit_data.isnull().sum()

SK_ID_PREV                    0
SK_ID_CURR                    0
MONTHS_BALANCE                0
AMT_BALANCE                   0
AMT_CREDIT_LIMIT_ACTUAL       0
AMT_DRAWINGS_ATM_CURRENT      0
AMT_DRAWINGS_CURRENT          0
AMT_DRAWINGS_OTHER_CURRENT    0
AMT_DRAWINGS_POS_CURRENT      0
AMT_INST_MIN_REGULARITY       0
AMT_PAYMENT_CURRENT           0
AMT_PAYMENT_TOTAL_CURRENT     0
AMT_RECEIVABLE_PRINCIPAL      0
AMT_RECIVABLE                 0
AMT_TOTAL_RECEIVABLE          0
CNT_DRAWINGS_ATM_CURRENT      0
CNT_DRAWINGS_CURRENT          0
CNT_DRAWINGS_OTHER_CURRENT    0
CNT_DRAWINGS_POS_CURRENT      0
CNT_INSTALMENT_MATURE_CUM     0
NAME_CONTRACT_STATUS          0
SK_DPD                        0
SK_DPD_DEF                    0
dtype: int64

**Observación sobre inconsistencia de precisión decimal:**

Al examinar la columna AMT_BALANCE en el dataset de tarjetas de crédito, se observa una inconsistencia en la precisión decimal entre la representación en SQL y pandas:

- `SQL`: Muestra valores con diferentes precisiones (1, 2, o 3 decimales)
- `Pandas`: Interpreta correctamente los valores numéricos independientemente de la precisión mostrada

Esta inconsistencia puede afectar:
1. Comparaciones numéricas en consultas SQL
2. Agregaciones y cálculos financieros
3. Consistencia de datos entre diferentes sistemas
4. Análisis de riesgo crediticio que requiere precisión en montos monetarios

Estandarizaremos la precisión decimal a 2 lugares para montos monetarios, siguiendo estándares financieros internacionales.

In [ ]:
# observar la columna de AMT_BALANCE para ver si debemos de manipular las decimas
df_credit_data['AMT_BALANCE'].head(5)

0        56.970
1     63975.555
2     31815.225
3    236572.110
4    453919.455
Name: AMT_BALANCE, dtype: float64

In [ ]:
# Estandarizar la columna AMT_BALANCE a 2 decimales

df_credit_data['AMT_BALANCE'] = df_credit_data['AMT_BALANCE'].round(2)
df_credit_data['AMT_BALANCE'].head()

0        56.97
1     63975.56
2     31815.22
3    236572.11
4    453919.46
Name: AMT_BALANCE, dtype: float64

## Gold

In [4]:
df= pd.read_sql("select * from silver.application_train", engine)

2025-08-04 19:07:33,652 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-08-04 19:07:33,654 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-04 19:07:33,658 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-08-04 19:07:33,659 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-04 19:07:33,661 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-08-04 19:07:33,663 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-04 19:07:33,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-04 19:07:33,667 INFO sqlalchemy.engine.Engine select * from silver.application_train
2025-08-04 19:07:33,668 INFO sqlalchemy.engine.Engine [raw sql] {}

2025-08-04 19:09:26,863 INFO sqlalchemy.engine.Engine ROLLBACK

In [19]:
df.NAME_EDUCATION_TYPE.value_counts()

NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: count, dtype: int64

In [22]:
df.NAME_HOUSING_TYPE.value_counts()

NAME_HOUSING_TYPE
House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: count, dtype: int64

In [25]:
df.DAYS_EMPLOYED.value_counts()

DAYS_EMPLOYED
365243    55374
200         156
224         152
199         151
230         151
          ...
11707         1
13385         1
9985          1
9672          1
14232         1
Name: count, Length: 12574, dtype: int64

In [5]:
df.CNT_FAM_MEMBERS.value_counts()

CNT_FAM_MEMBERS
2     158357
1      67847
3      52601
4      24697
5       3478
6        408
7         81
8         20
9          6
10         3
0          2
14         2
12         2
20         2
16         2
13         1
15         1
11         1
Name: count, dtype: int64

In [10]:
df.to_sql('application_train', con=engine, if_exists="replace", index=False, schema="gold")

2025-08-03 18:42:54,326 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-03 18:42:54,681 INFO sqlalchemy.engine.Engine DESCRIBE `gold`.`application_train`
2025-08-03 18:42:54,684 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-03 18:42:54,710 INFO sqlalchemy.engine.Engine DESCRIBE `gold`.`application_train`
2025-08-03 18:42:54,714 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-03 18:42:54,724 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `gold`
2025-08-03 18:42:54,726 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-03 18:42:54,736 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `gold`
2025-08-03 18:42:54,739 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-03 18:42:54,870 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `gold`.`application_train`
2025-08-03 18:42:54,872 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-03 18:42:54,929 INFO sqlalchemy.engine.Engine
DROP TABLE gold.application_train
2025-08-03 18:42:54,932 INFO sqlalchemy.engine.Engine [no key 0.00418s] {}
2025-08-03 18:42:55,350 INFO sqlalchemy.engine.Engine
CREATE TABLE gold.application_train (
	`TARGET` BIGINT,
	`SK_ID_CURR` BIGINT,
	`EXT_SOURCE_1` FLOAT(53),
	`EXT_SOURCE_2` FLOAT(53),
	`EXT_SOURCE_3` FLOAT(53),
	`AMT_INCOME_TOTAL` FLOAT(53),
	`AMT_CREDIT` FLOAT(53),
	`AMT_ANNUITY` FLOAT(53),
	`AMT_GOODS_PRICE` FLOAT(53),
	`YEARS_BIRTH` BIGINT,
	`DAYS_EMPLOYED` BIGINT,
	`DAYS_REGISTRATION` FLOAT(53),
	`DAYS_ID_PUBLISH` BIGINT,
	`NAME_HOUSING_TYPE` TEXT,
	`FLAG_OWN_REALTY` TEXT,
	`REGION_POPULATION_RELATIVE` FLOAT(53),
	`CNT_FAM_MEMBERS` BIGINT,
	`CNT_CHILDREN` BIGINT,
	`NAME_FAMILY_STATUS` TEXT,
	`NAME_INCOME_TYPE` TEXT,
	`OCCUPATION_TYPE` TEXT,
	`ORGANIZATION_TYPE` TEXT
)


2025-08-03 18:42:55,354 INFO sqlalchemy.engine.Engine [no key 0.00426s] {}
2025-08-03 18:43:15,498 INFO sqlalchemy.engine.Engine INSERT INTO gold.application_train (`TARGET`, `SK_ID_CURR`, `EXT_SOURCE_1`, `EXT_SOURCE_2`, `EXT_SOURCE_3`, `AMT_INCOME_TOTAL`, `AMT_CREDIT`, `AMT_ANNUITY`, `AMT_GOODS_PRICE`, `YEARS_BIRTH`, `DAYS_EMPLOYED`, `DAYS_REGISTRATION`, `DAYS_ID_PUBLISH`, `NAME_HOUSING_TYPE`, `FLAG_OWN_REALTY`, `REGION_POPULATION_RELATIVE`, `CNT_FAM_MEMBERS`, `CNT_CHILDREN`, `NAME_FAMILY_STATUS`, `NAME_INCOME_TYPE`, `OCCUPATION_TYPE`, `ORGANIZATION_TYPE`) VALUES (%(TARGET)s, %(SK_ID_CURR)s, %(EXT_SOURCE_1)s, %(EXT_SOURCE_2)s, %(EXT_SOURCE_3)s, %(AMT_INCOME_TOTAL)s, %(AMT_CREDIT)s, %(AMT_ANNUITY)s, %(AMT_GOODS_PRICE)s, %(YEARS_BIRTH)s, %(DAYS_EMPLOYED)s, %(DAYS_REGISTRATION)s, %(DAYS_ID_PUBLISH)s, %(NAME_HOUSING_TYPE)s, %(FLAG_OWN_REALTY)s, %(REGION_POPULATION_RELATIVE)s, %(CNT_FAM_MEMBERS)s, %(CNT_CHILDREN)s, %(NAME_FAMILY_STATUS)s, %(NAME_INCOME_TYPE)s, %(OCCUPATION_TYPE)s, %(ORGANIZATION_TYPE)s)
2025-08-03 18:43:15,500 INFO sqlalchemy.engine.Engine [generated in 16.99623s] [{'TARGET': 1, 'SK_ID_CURR': 100002, 'EXT_SOURCE_1': 0.08303696739132256, 'EXT_SOURCE_2': 0.2629485927471776, 'EXT_SOURCE_3': 0.13937578009978951, 'AMT_INCOME_TOTAL': 202500.0, 'AMT_CREDIT': 406597.5, 'AMT_ANNUITY': 24700.5, 'AMT_GOODS_PRICE': 351000.0, 'YEARS_BIRTH': 25, 'DAYS_EMPLOYED': 637, 'DAYS_REGISTRATION': 3648.0, 'DAYS_ID_PUBLISH': 2120, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'Y', 'REGION_POPULATION_RELATIVE': 0.018801, 'CNT_FAM_MEMBERS': 1, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Single / not married', 'NAME_INCOME_TYPE': 'Working', 'OCCUPATION_TYPE': 'Laborers', 'ORGANIZATION_TYPE': 'Business Entity Type 3'}, {'TARGET': 0, 'SK_ID_CURR': 100003, 'EXT_SOURCE_1': 0.3112673113812225, 'EXT_SOURCE_2': 0.6222457752555098, 'EXT_SOURCE_3': 0.0, 'AMT_INCOME_TOTAL': 270000.0, 'AMT_CREDIT': 1293502.5, 'AMT_ANNUITY': 35698.5, 'AMT_GOODS_PRICE': 1129500.0, 'YEARS_BIRTH': 45, 'DAYS_EMPLOYED': 1188, 'DAYS_REGISTRATION': 1186.0, 'DAYS_ID_PUBLISH': 291, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'N', 'REGION_POPULATION_RELATIVE': 0.003540999999999999, 'CNT_FAM_MEMBERS': 2, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Married', 'NAME_INCOME_TYPE': 'State servant', 'OCCUPATION_TYPE': 'Core staff', 'ORGANIZATION_TYPE': 'School'}, {'TARGET': 0, 'SK_ID_CURR': 100004, 'EXT_SOURCE_1': 0.0, 'EXT_SOURCE_2': 0.5559120833904428, 'EXT_SOURCE_3': 0.7295666907060153, 'AMT_INCOME_TOTAL': 67500.0, 'AMT_CREDIT': 135000.0, 'AMT_ANNUITY': 6750.0, 'AMT_GOODS_PRICE': 135000.0, 'YEARS_BIRTH': 52, 'DAYS_EMPLOYED': 225, 'DAYS_REGISTRATION': 4260.0, 'DAYS_ID_PUBLISH': 2531, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'Y', 'REGION_POPULATION_RELATIVE': 0.010032, 'CNT_FAM_MEMBERS': 1, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Single / not married', 'NAME_INCOME_TYPE': 'Working', 'OCCUPATION_TYPE': 'Laborers', 'ORGANIZATION_TYPE': 'Government'}, {'TARGET': 0, 'SK_ID_CURR': 100006, 'EXT_SOURCE_1': 0.0, 'EXT_SOURCE_2': 0.6504416904014653, 'EXT_SOURCE_3': 0.0, 'AMT_INCOME_TOTAL': 135000.0, 'AMT_CREDIT': 312682.5, 'AMT_ANNUITY': 29686.5, 'AMT_GOODS_PRICE': 297000.0, 'YEARS_BIRTH': 52, 'DAYS_EMPLOYED': 3039, 'DAYS_REGISTRATION': 9833.0, 'DAYS_ID_PUBLISH': 2437, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'Y', 'REGION_POPULATION_RELATIVE': 0.008019, 'CNT_FAM_MEMBERS': 2, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Civil marriage', 'NAME_INCOME_TYPE': 'Working', 'OCCUPATION_TYPE': 'Laborers', 'ORGANIZATION_TYPE': 'Business Entity Type 3'}, {'TARGET': 0, 'SK_ID_CURR': 100007, 'EXT_SOURCE_1': 0.0, 'EXT_SOURCE_2': 0.3227382869704046, 'EXT_SOURCE_3': 0.0, 'AMT_INCOME_TOTAL': 121500.0, 'AMT_CREDIT': 513000.0, 'AMT_ANNUITY': 21865.5, 'AMT_GOODS_PRICE': 513000.0, 'YEARS_BIRTH': 54, 'DAYS_EMPLOYED': 3038, 'DAYS_REGISTRATION': 4311.0, 'DAYS_ID_PUBLISH': 3458, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'Y', 'REGION_POPULATION_RELATIVE': 0.028663, 'CNT_FAM_MEMBERS': 1, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Single / not married', 'NAME_INCOME_TYPE': 'Working', 'OCCUPATION_TYPE': 'Core staff', 'ORGANIZATION_TYPE': 'Religion'}, {'TARGET': 0, 'SK_ID_CURR': 100008, 'EXT_SOURCE_1': 0.0, 'EXT_SOURCE_2': 0.3542247319929012, 'EXT_SOURCE_3': 0.6212263380626669, 'AMT_INCOME_TOTAL': 99000.0, 'AMT_CREDIT': 490495.5, 'AMT_ANNUITY': 27517.5, 'AMT_GOODS_PRICE': 454500.0, 'YEARS_BIRTH': 46, 'DAYS_EMPLOYED': 1588, 'DAYS_REGISTRATION': 4970.0, 'DAYS_ID_PUBLISH': 477, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'Y', 'REGION_POPULATION_RELATIVE': 0.035792000000000004, 'CNT_FAM_MEMBERS': 2, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Married', 'NAME_INCOME_TYPE': 'State servant', 'OCCUPATION_TYPE': 'Laborers', 'ORGANIZATION_TYPE': 'Other'}, {'TARGET': 0, 'SK_ID_CURR': 100009, 'EXT_SOURCE_1': 0.7747614130547695, 'EXT_SOURCE_2': 0.7239998516953141, 'EXT_SOURCE_3': 0.4920600938649263, 'AMT_INCOME_TOTAL': 171000.0, 'AMT_CREDIT': 1560726.0, 'AMT_ANNUITY': 41301.0, 'AMT_GOODS_PRICE': 1395000.0, 'YEARS_BIRTH': 37, 'DAYS_EMPLOYED': 3130, 'DAYS_REGISTRATION': 1213.0, 'DAYS_ID_PUBLISH': 619, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'Y', 'REGION_POPULATION_RELATIVE': 0.035792000000000004, 'CNT_FAM_MEMBERS': 3, 'CNT_CHILDREN': 1, 'NAME_FAMILY_STATUS': 'Married', 'NAME_INCOME_TYPE': 'Commercial associate', 'OCCUPATION_TYPE': 'Accountants', 'ORGANIZATION_TYPE': 'Business Entity Type 3'}, {'TARGET': 0, 'SK_ID_CURR': 100010, 'EXT_SOURCE_1': 0.0, 'EXT_SOURCE_2': 0.7142792864482229, 'EXT_SOURCE_3': 0.5406544504453575, 'AMT_INCOME_TOTAL': 360000.0, 'AMT_CREDIT': 1530000.0, 'AMT_ANNUITY': 42075.0, 'AMT_GOODS_PRICE': 1530000.0, 'YEARS_BIRTH': 51, 'DAYS_EMPLOYED': 449, 'DAYS_REGISTRATION': 4597.0, 'DAYS_ID_PUBLISH': 2379, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'Y', 'REGION_POPULATION_RELATIVE': 0.0031219999999999998, 'CNT_FAM_MEMBERS': 2, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Married', 'NAME_INCOME_TYPE': 'State servant', 'OCCUPATION_TYPE': 'Managers', 'ORGANIZATION_TYPE': 'Other'}  ... displaying 10 of 307511 total bound parameter sets ...  {'TARGET': 1, 'SK_ID_CURR': 456254, 'EXT_SOURCE_1': 0.0, 'EXT_SOURCE_2': 0.5141628203855193, 'EXT_SOURCE_3': 0.6610235391308081, 'AMT_INCOME_TOTAL': 171000.0, 'AMT_CREDIT': 370107.0, 'AMT_ANNUITY': 20205.0, 'AMT_GOODS_PRICE': 319500.0, 'YEARS_BIRTH': 32, 'DAYS_EMPLOYED': 4786, 'DAYS_REGISTRATION': 2562.0, 'DAYS_ID_PUBLISH': 931, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'Y', 'REGION_POPULATION_RELATIVE': 0.005313, 'CNT_FAM_MEMBERS': 2, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Married', 'NAME_INCOME_TYPE': 'Commercial associate', 'OCCUPATION_TYPE': 'Laborers', 'ORGANIZATION_TYPE': 'Business Entity Type 1'}, {'TARGET': 0, 'SK_ID_CURR': 456255, 'EXT_SOURCE_1': 0.7344596685467556, 'EXT_SOURCE_2': 0.708568896491169, 'EXT_SOURCE_3': 0.11392239629221085, 'AMT_INCOME_TOTAL': 157500.0, 'AMT_CREDIT': 675000.0, 'AMT_ANNUITY': 49117.5, 'AMT_GOODS_PRICE': 675000.0, 'YEARS_BIRTH': 46, 'DAYS_EMPLOYED': 1262, 'DAYS_REGISTRATION': 5128.0, 'DAYS_ID_PUBLISH': 410, 'NAME_HOUSING_TYPE': 'House / apartment', 'FLAG_OWN_REALTY': 'N', 'REGION_POPULATION_RELATIVE': 0.04622, 'CNT_FAM_MEMBERS': 2, 'CNT_CHILDREN': 0, 'NAME_FAMILY_STATUS': 'Married', 'NAME_INCOME_TYPE': 'Commercial associate', 'OCCUPATION_TYPE': 'Laborers', 'ORGANIZATION_TYPE': 'Business Entity Type 3'}]
2025-08-03 18:44:03,841 INFO sqlalchemy.engine.Engine COMMIT

307511

## prueba

In [2]:
credenciales_felipe = "mysql+pymysql://root:Enero182005%@127.0.0.1:3306/"
engine = create_engine(credenciales_felipe, echo=True)

In [3]:
conn=sqlite3.connect("gold.db")

In [13]:
df=pd.read_sql_query("select * from silver.application_train", engine)

2025-08-04 16:41:07,311 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-04 16:41:07,323 INFO sqlalchemy.engine.Engine select * from silver.application_train
2025-08-04 16:41:07,324 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-04 16:42:51,438 INFO sqlalchemy.engine.Engine ROLLBACK

In [16]:
df["TARGET"].value_counts()

TARGET
0    282686
1     24825
Name: count, dtype: int64

In [14]:
df.to_csv("train_completa.csv")

In [4]:
df= pd.read_sql_query("select * from application_train", conn)

In [ ]:
conn=sqlite3.connect("gold.db")
df.to_sql('installments_payments', conn, if_exists='replace', index=False)
conn.close()
print("Data saved to SQLite database successfully.")

Data saved to SQLite database successfully.

In [2]:
import sys
sys.path.append("..")

from scripts.gold_loader import load_or_download_db

In [4]:
url = "https://www.dropbox.com/scl/fi/p6wtdixxu1ltggfp42hur/gold.zip?rlkey=wl3e6gu8gwn9rco6m0n7gkegp&st=j5kg6fvy&dl=1"
# Descarga y prepara
db_path = load_or_download_db(db_name="gold.db", zip_url=url, zipped=True)

⬇️ Descargando base desde https://www.dropbox.com/scl/fi/p6wtdixxu1ltggfp42hur/gold.zip?rlkey=wl3e6gu8gwn9rco6m0n7gkegp&st=j5kg6fvy&dl=1...
📦 Extrayendo gold.db.zip...
✅ Base de datos disponible: gold.db

In [ ]:
conn = sqlite3.connect(db_path)
df=pd.read_sql_query("select * from application_train", conn)
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,1
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,0,0,0,0,0,0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,0,0,0,0,0,0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1,0,0,1,0,1
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0,0,0,0,0,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0,0,0,2,0,1