## Libraries

In [7]:
from sqlalchemy import create_engine
from sqlalchemy import select
from sqlalchemy import text
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Silver Schema

### Credenciales

In [ ]:
credenciales_felipe = "mysql+pymysql://root:Enero182005%@127.0.0.1:3306/bronze"
engine_felipe = create_engine(credenciales_felipe, echo=True)
print("hola")

In [10]:
try:
    engine_pablo = create_engine("mysql+pymysql://root:juanMySQL0513.@localhost/bronze")
    print("Database connection successful!")
except Exception as e:
    print(f"Database connection failed: {str(e)}")
    raise

Database connection successful!

### EDA tablas `application_{train|test}`

In [ ]:
df= pd.read_sql("select * from application_train", engine)

#### Descripción de las tablas

Las `tabla application_{train|test}`.csv contienen información detallada sobre las solicitudes de crédito de los clientes en el marco del problema de riesgo crediticio de Home Credit. Cada fila representa una solicitud de préstamo hecha por un cliente, e incluye una variedad de variables que permiten caracterizar tanto su situación personal como financiera, con el objetivo de evaluar la probabilidad de incumplimiento en el pago del crédito.

Las variables de esta tabla abarcan múltiples aspectos del cliente. Entre ellas se encuentran datos demográficos como la edad, el género, el estado civil, el número de hijos y el nivel educativo. También incluye información relacionada con el empleo y los ingresos del cliente, como el tipo de ocupación, el ingreso total declarado y la antigüedad laboral. En cuanto al préstamo solicitado, se incluyen detalles como el tipo de contrato, el monto del crédito, el valor del bien a financiar y el monto de la anualidad que debe pagar el cliente.

Además, la tabla registra condiciones de vivienda (como si el cliente posee casa o automóvil, el tipo de vivienda, y características físicas del inmueble), información sobre medios de contacto y localización geográfica, y puntuaciones externas proporcionadas por fuentes anónimas que estiman el nivel de riesgo crediticio del cliente. También se incluyen indicadores binarios que señalan incongruencias entre el lugar de residencia y el lugar de trabajo, o si el cliente cambió recientemente su documento de identidad.

En el caso de `application_train.csv`, se añade una columna adicional llamada `TARGET`, que indica si el cliente presentó problemas para pagar el préstamo (valor 1) o no (valor 0).

In [ ]:
df.info(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               int64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      int64
 92   DEF_30_CNT_SOCIAL_CIRCLE      int64
 93   OBS_60_CNT_SOCIAL_CIRCLE      int64
 94   DEF_60_CNT_SOCIAL_CIRCLE      int64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    int64
 117  AMT_REQ_CREDIT_BUREAU_DAY     int64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    int64
 119  AMT_REQ_CREDIT_BUREAU_MON     int64
 120  AMT_REQ_CREDIT_BUREAU_QRT     int64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    object
dtypes: float64(54), int64(51), object(17)
memory usage: 45.4+ MB

#### Descripcion de las columnas

Dado que la tabla `application_{train|test}.csv` contiene una gran cantidad de variables, muchas de las cuales resultan redundantes o poco relevantes para el análisis del riesgo crediticio —ya sea porque aportan información que se encuentra explícita en otras columnas o porque presentan una baja utilidad predictiva— se ha decidido omitir la descripción detallada de estas en este documento. Esta decisión responde a una futura depuración del conjunto de datos, en la que estas variables serán eliminadas para simplificar el análisis y optimizar el rendimiento de los modelos.

Sin embargo, si en algún momento un analista o investigador desea profundizar en el estudio de estas variables excluidas, puede consultar la descripción completa en el archivo `HomeCredit_columns_description.csv`, el cual contiene una explicación detallada de todas las columnas disponibles en el conjunto de datos original.

#### Columnas más relevantes

##### Puntajes de riesgo externo

`EXT_SOURCE_1`, `EXT_SOURCE_2`, `EXT_SOURCE_3`  
Tres variables anónimas que representan puntuaciones de riesgo provenientes de fuentes externas. Han demostrado tener una alta correlación con la variable objetivo (`TARGET`) y suelen ser las más importantes en los modelos predictivos.

---

##### Ingresos y condiciones del préstamo

- `AMT_INCOME_TOTAL`: Ingreso anual total del cliente.  
- `AMT_CREDIT`: Monto total del crédito solicitado.  
- `AMT_ANNUITY`: Cuota anual del préstamo, útil para calcular ratios como ingresos/cuotas.  
- `AMT_GOODS_PRICE`: Valor del bien o servicio a financiar.

Estas columnas permiten estimar ratios financieros como:

- `AMT_ANNUITY / AMT_INCOME_TOTAL` → carga financiera del cliente.  
- `AMT_CREDIT / AMT_INCOME_TOTAL` → riesgo de endeudamiento.

---

##### Edad y experiencia laboral

- `DAYS_BIRTH`: Edad del cliente (en días negativos).  
- `DAYS_EMPLOYED`: Tiempo trabajando (en días negativos, aunque contiene valores atípicos para desempleados).  
- `DAYS_REGISTRATION`: Antigüedad del registro de residencia.  
- `DAYS_ID_PUBLISH`: Antigüedad del documento de identidad.

La edad y la estabilidad laboral son factores clásicos de evaluación crediticia.

---

##### Situación de vivienda

- `NAME_HOUSING_TYPE`: Tipo de vivienda (propia, rentada, municipal, etc.).  
- `FLAG_OWN_REALTY`: Indica si el cliente posee una propiedad inmobiliaria.  
- `REGION_POPULATION_RELATIVE`: Nivel de urbanización de la región de residencia (zonas más pobladas pueden tener mayor exposición a crédito informal).

---

##### Condición familiar

- `CNT_FAM_MEMBERS`: Número de miembros en la familia, lo cual puede indicar carga económica.  
- `CNT_CHILDREN`: Número de hijos, influye en los gastos del hogar.  
- `NAME_FAMILY_STATUS`: Estado civil (soltero, casado, divorciado, etc.).

---

##### Tipo de empleo

- `NAME_INCOME_TYPE`: Categoría de ingreso del cliente (empleado, pensionado, estudiante, etc.).  
- `OCCUPATION_TYPE`: Profesión específica del cliente.  
- `ORGANIZATION_TYPE`: Tipo de empleador (empresa privada, entidad gubernamental, etc.).

In [ ]:
columnas_relevantes = [
    # Puntajes de riesgo externo
    'EXT_SOURCE_1',
    'EXT_SOURCE_2',
    'EXT_SOURCE_3',

    # Ingresos y condiciones del préstamo
    'AMT_INCOME_TOTAL',
    'AMT_CREDIT',
    'AMT_ANNUITY',
    'AMT_GOODS_PRICE',

    # Edad y experiencia laboral
    'DAYS_BIRTH',
    'DAYS_EMPLOYED',
    'DAYS_REGISTRATION',
    'DAYS_ID_PUBLISH',

    # Situación de vivienda
    'NAME_HOUSING_TYPE',
    'FLAG_OWN_REALTY',
    'REGION_POPULATION_RELATIVE',

    # Condición familiar
    'CNT_FAM_MEMBERS',
    'CNT_CHILDREN',
    'NAME_FAMILY_STATUS',

    # Tipo de empleo
    'NAME_INCOME_TYPE',
    'OCCUPATION_TYPE',
    'ORGANIZATION_TYPE'
]

In [ ]:
df=df[columnas_relevantes]

In [ ]:
df

,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,NAME_HOUSING_TYPE,FLAG_OWN_REALTY,REGION_POPULATION_RELATIVE,CNT_FAM_MEMBERS,CNT_CHILDREN,NAME_FAMILY_STATUS,NAME_INCOME_TYPE,OCCUPATION_TYPE,ORGANIZATION_TYPE
0,0.083037,0.262949,0.139376,202500.0,406597.5,24700.5,351000.0,-9461,-637,-3648.0,-2120,House / apartment,Y,0.018801,1,0,Single / not married,Working,Laborers,Business Entity Type 3
1,0.311267,0.622246,0.000000,270000.0,1293502.5,35698.5,1129500.0,-16765,-1188,-1186.0,-291,House / apartment,N,0.003541,2,0,Married,State servant,Core staff,School
2,0.000000,0.555912,0.729567,67500.0,135000.0,6750.0,135000.0,-19046,-225,-4260.0,-2531,House / apartment,Y,0.010032,1,0,Single / not married,Working,Laborers,Government
3,0.000000,0.650442,0.000000,135000.0,312682.5,29686.5,297000.0,-19005,-3039,-9833.0,-2437,House / apartment,Y,0.008019,2,0,Civil marriage,Working,Laborers,Business Entity Type 3
4,0.000000,0.322738,0.000000,121500.0,513000.0,21865.5,513000.0,-19932,-3038,-4311.0,-3458,House / apartment,Y,0.028663,1,0,Single / not married,Working,Core staff,Religion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0.145570,0.681632,0.000000,157500.0,254700.0,27558.0,225000.0,-9327,-236,-8456.0,-1982,With parents,N,0.032561,1,0,Separated,Working,Sales staff,Services
307507,0.000000,0.115992,0.000000,72000.0,269550.0,12001.5,225000.0,-20775,365243,-4388.0,-4090,House / apartment,Y,0.025164,1,0,Widow,Pensioner,,XNA
307508,0.744026,0.535722,0.218859,153000.0,677664.0,29979.0,585000.0,-14966,-7921,-6737.0,-5150,House / apartment,Y,0.005002,1,0,Separated,Working,Managers,School
307509,0.000000,0.514163,0.661024,171000.0,370107.0,20205.0,319500.0,-11961,-4786,-2562.0,-931,House / apartment,Y,0.005313,2,0,Married,Commercial associate,Laborers,Business Entity Type 1
307510,0.734460,0.708569,0.113922,157500.0,675000.0,49117.5,675000.0,-16856,-1262,-5128.0,-410,House / apartment,N,0.046220,2,0,Married,Commercial associate,Laborers,Business Entity Type 3

### EDA tablas `credit_card_balance` y `installments_payments`

In [11]:
df_credit_data = pd.read_sql("select * from credit_card_balance", engine_pablo)
df_installments = pd.read_sql("select * from installments_payments", engine_pablo)

#### Descripción de las tablas

`installments_payments`

Esta tabla contiene información detallada sobre los pagos realizados por los clientes en relación con las cuotas de créditos anteriores. Cada fila representa una cuota específica, incluyendo tanto la fecha programada como la fecha real del pago, así como los montos relacionados. Los datos permiten analizar el comportamiento de pago de los clientes, identificar atrasos, pagos incompletos o adelantados, y evaluar su responsabilidad financiera en créditos pasados.

`credit_card_balance`

Esta tabla representa el historial mensual del comportamiento de los clientes con sus tarjetas de crédito. Incluye información como el saldo de la tarjeta, el límite de crédito, los montos retirados, los pagos realizados y el estado del contrato mes a mes. Es útil para analizar patrones de gasto, nivel de endeudamiento, frecuencia de uso del crédito, cumplimiento de pagos y posibles señales de riesgo financiero.

#### Descripción de columnas del dataset credit_card_balance

In [12]:
df_credit_data.dtypes

SK_ID_PREV                      int64
SK_ID_CURR                      int64
MONTHS_BALANCE                  int64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL         int64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT            int64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS           object
SK_DPD                          int64
SK_DPD_DEF                      int64
dtype: object

- `SK_ID_PREV`: ID de crédito (anterior), sirve como clave para unir datos anteriores de la misma solicitud.
- `SK_ID_CURR`: ID del cliente que permite unir los datos con el cliente principal en application.csv.
- `MONTHS_BALANCE`: Mes relativo del saldo del crédito con respecto a la fecha de aplicación (0 es el mes más reciente).
- `AMT_BALANCE`: Monto del saldo restante en la tarjeta de crédito.
- `AMT_CREDIT_LIMIT_ACTUAL`: Límite de crédito actual de la tarjeta.
- `AMT_DRAWINGS_ATM_CURRENT`: Monto total retirado en cajeros automáticos ese mes.
- `AMT_DRAWINGS_CURRENT`: Monto total retirado en el mes (incluye cajero, POS, otros).
- `AMT_DRAWINGS_OTHER_CURRENT`: Monto retirado por otros medios que no sean cajero o POS.
- `AMT_DRAWINGS_POS_CURRENT`: Monto retirado en puntos de venta (POS).
- `AMT_INST_MIN_REGULARITY`: Pago mínimo mensual requerido.
- `AMT_PAYMENT_CURRENT`: Monto pagado en el mes.
- `AMT_PAYMENT_TOTAL_CURRENT`: Total de pagos en el mes (puede incluir pagos atrasados).
- `AMT_RECEIVABLE_PRINCIPAL`: Monto del principal que aún debe pagarse.
- `AMT_RECIVABLE`: Monto total que el cliente debe (principal + intereses).
- `AMT_TOTAL_RECEIVABLE`: Monto total por cobrar, incluyendo posibles cargos adicionales.
- `CNT_DRAWINGS_ATM_CURRENT`: Número de veces que el cliente retiró dinero en cajero automático ese mes.
- `CNT_DRAWINGS_CURRENT`: Número total de transacciones de retiro del mes.
- `CNT_DRAWINGS_OTHER_CURRENT`: Número de transacciones de retiro en canales diferentes a cajero y POS.
- `CNT_DRAWINGS_POS_CURRENT`: Número de transacciones en POS ese mes.
- `CNT_INSTALMENT_MATURE_CUM`: Número de cuotas del crédito que se han vencido hasta ese momento.
- `NAME_CONTRACT_STATUS`: Estado del contrato en ese mes (Activo, Cerrado, etc.).
- `SK_DPD`: Días de atraso del pago (sin considerar los pagos atrasados anteriores).
- `SK_DPD_DEF`: Días de atraso considerados como morosidad con penalidad.

#### Analisis y limpieza

In [13]:
df_credit_data.isnull().sum()

SK_ID_PREV                    0
SK_ID_CURR                    0
MONTHS_BALANCE                0
AMT_BALANCE                   0
AMT_CREDIT_LIMIT_ACTUAL       0
AMT_DRAWINGS_ATM_CURRENT      0
AMT_DRAWINGS_CURRENT          0
AMT_DRAWINGS_OTHER_CURRENT    0
AMT_DRAWINGS_POS_CURRENT      0
AMT_INST_MIN_REGULARITY       0
AMT_PAYMENT_CURRENT           0
AMT_PAYMENT_TOTAL_CURRENT     0
AMT_RECEIVABLE_PRINCIPAL      0
AMT_RECIVABLE                 0
AMT_TOTAL_RECEIVABLE          0
CNT_DRAWINGS_ATM_CURRENT      0
CNT_DRAWINGS_CURRENT          0
CNT_DRAWINGS_OTHER_CURRENT    0
CNT_DRAWINGS_POS_CURRENT      0
CNT_INSTALMENT_MATURE_CUM     0
NAME_CONTRACT_STATUS          0
SK_DPD                        0
SK_DPD_DEF                    0
dtype: int64

**Observación sobre inconsistencia de precisión decimal:**

Al examinar la columna AMT_BALANCE en el dataset de tarjetas de crédito, se observa una inconsistencia en la precisión decimal entre la representación en SQL y pandas:

- `SQL`: Muestra valores con diferentes precisiones (1, 2, o 3 decimales)
- `Pandas`: Interpreta correctamente los valores numéricos independientemente de la precisión mostrada

Esta inconsistencia puede afectar:
1. Comparaciones numéricas en consultas SQL
2. Agregaciones y cálculos financieros
3. Consistencia de datos entre diferentes sistemas
4. Análisis de riesgo crediticio que requiere precisión en montos monetarios

Estandarizaremos la precisión decimal a 2 lugares para montos monetarios, siguiendo estándares financieros internacionales.

In [14]:
# observar la columna de AMT_BALANCE para ver si debemos de manipular las decimas
df_credit_data['AMT_BALANCE'].head(5)

0        56.970
1     63975.555
2     31815.225
3    236572.110
4    453919.455
Name: AMT_BALANCE, dtype: float64

In [15]:
# Estandarizar la columna AMT_BALANCE a 2 decimales

df_credit_data['AMT_BALANCE'] = df_credit_data['AMT_BALANCE'].round(2)
df_credit_data['AMT_BALANCE'].head()

0        56.97
1     63975.56
2     31815.22
3    236572.11
4    453919.46
Name: AMT_BALANCE, dtype: float64

## Gold